<div id="animals-batch-edit">

    <div class="row">
        <div class="large-6 columns">

            <div class="row">
                <div class="large-5 columns">
                    <h3>{{ 'FIND ANIMAL' | translate }}</h3>
                    <form [formGroup]="findForm">
                        <label>{{ 'ULN' | translate}}
                            <input type="text" placeholder="Zoek op ULN" formControlName="uln">
                        </label>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <button (click)="findAnimal()" class="button">
                        {{ 'SEARCH' | translate}}</button>
                </div>
                <div class="large-6 columns">
                    <button type="button" class="button primary expanded" (click)="openCreateNewModal()">
                        {{ 'CREATE NEW ANIMAL' | translate }}</button>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="large-5 columns">
                    <div *ngIf="isSearching" class="loader-spinner">
                    </div>
                </div>
            </div>

            <div *ngIf="!getAnimal()">
                <p>{{ 'FIND AN ANIMAL FIRST BEFORE YOU CAN EDIT IT' | translate }}</p>
            </div>

            <div *ngIf="!!getAnimal()">

                <h3>{{ 'ANIMAL DETAILS' | translate }}</h3>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'ULN' | translate }}</label>
                        <p>{{ getAnimal().uln_country_code }} {{ getAnimal().uln_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'STN' | translate }}</label>
                        <p>{{ getStnOutput(getAnimal()) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'DATE OF BIRTH' | translate }}</label>
                        <p>{{ getAnimal().date_of_birth ? (getAnimal().date_of_birth | date: 'dd-MM-yyyy') : ('DATE OF BIRTH' | translate) }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'GENDER' | translate}}</label>
                        <p>{{ getAnimal().type ? (getAnimal().type | translate) : '-'}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <button type="button" class="button primary" (click)="openGenderEditModal()">
                            {{ 'EDIT GENDER' | translate }}</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="large-6 columns">

            <h3>{{ 'ANIMAL RESIDENCE HISTORY' | translate }}</h3>

            <table>
                <thead>
                    <tr>
                        <td class="text-center">{{ 'START DATE' | translate }}</td>
                        <td class="text-center">{{ 'END DATE' | translate }}</td>
                        <td class="text-center">{{ 'UBN' | translate }}</td>
                        <td class="text-center">{{ 'IS PENDING' | translate }}</td>
                        <td class="text-center">
                            <span *ngIf="!isSearchingResidences && getAnimal() != undefined" class="pull-right overview-controls">
                                <a (click)="refreshAnimalResidences()"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i></a>
                                <a (click)="startCreateNewResidence()"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></a>
                            </span>
                        </td>
                    </tr>
                </thead>
                <tbody *ngIf="isSearchingResidences">
                    <tr>
                        <td>
                            <div class="loader-spinner"></div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!isSearchingResidences && getAnimal()?.animal_residence_history != undefined">
                    <!--<tr>-->
                        <!--<td class="text-center">{{ 'START DATE' | translate }}</td>-->
                        <!--<td class="text-center">{{ 'END DATE' | translate }}</td>-->
                        <!--<td class="text-center">{{ 'UBN' | translate }}</td>-->
                        <!--<td class="text-center">{{ 'IS PENDING' | translate }}</td>-->
                        <!--<td class="text-center">-->
                                <!--<span *ngIf="!isSearchingResidences && getAnimal() != undefined" class="pull-right overview-controls">-->
                                    <!--<a (click)="refreshAnimalResidences()"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i></a>-->
                                    <!--<a (click)="startCreateNewResidence()"><i class="fa fa-plus fa-fw" aria-hidden="true"></i></a>-->
                                <!--</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <tr *ngFor="let residence of getAnimal().animal_residence_history | animalResidenceSortPipe:sortResidencesAscending | paginate: {itemsPerPage: filterResidenceAmount, currentPage: residencePage}">
                        <td class="text-center">{{ residence.start_date | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                        <td class="text-center">{{ residence.end_date | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                        <td class="text-center">{{ residence?.location?.ubn }}</td>
                        <td><app-check-mark [boolVal]="residence.is_pending"></app-check-mark></td>
                        <td>
                            <span *ngIf="residence.id && !isEditingResidence" class="pull-right overview-controls">
                                <a (click)="openResidenceEditModal(residence)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                                <a (click)="openResidenceRemoveModal(residence)" class="remove-button"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                            </span>
                            <span *ngIf="residence.id && isEditingResidence" class="pull-right overview-controls">
                                <app-spinner></app-spinner>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <app-create-animal-modal></app-create-animal-modal>
    <app-edit-gender-modal></app-edit-gender-modal>

</div>
