<div id="animals-batch-edit">

    <div class="row">
        <div class="large-6 columns">

            <div class="row">
                <div class="large-5 columns">
                    <h3>{{ 'FIND ANIMAL' | translate }}</h3>
                    <form [formGroup]="findForm">
                        <label>{{ 'ULN' | translate}}
                            <input type="text" placeholder="Zoek op ULN" formControlName="uln">
                        </label>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <button (click)="findAnimal()" class="button">
                        {{ 'SEARCH' | translate}}</button>
                </div>
                <div class="large-6 columns">
                    <button type="button" class="button primary expanded" (click)="openCreateNewModal()">
                        {{ 'CREATE NEW ANIMAL' | translate }}</button>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="large-5 columns">
                    <div *ngIf="isSearching" class="loader-spinner">
                    </div>
                </div>
            </div>

            <div *ngIf="!getAnimal()">
                <p>{{ 'FIND AN ANIMAL FIRST BEFORE YOU CAN EDIT IT' | translate }}</p>
            </div>

            <div *ngIf="!!getAnimal()">

                <h3>{{ 'ANIMAL DETAILS' | translate }}</h3>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'ULN' | translate }}</label>
                        <p>{{ getAnimal().uln_country_code }} {{ getAnimal().uln_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'STN' | translate }}</label>
                        <p>{{ getStnOutput(getAnimal()) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'DATE OF BIRTH' | translate }}</label>
                        <p>{{ getAnimal().date_of_birth ? (getAnimal().date_of_birth | date: 'dd-MM-yyyy') : ('DATE OF BIRTH' | translate) }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'GENDER' | translate}}</label>
                        <p>{{ getAnimal().type ? (getAnimal().type | translate) : '-'}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <button type="button" class="button primary" (click)="openGenderEditModal()">
                            {{ 'EDIT GENDER' | translate }}</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <app-create-animal-modal></app-create-animal-modal>
    <app-edit-gender-modal></app-edit-gender-modal>

</div>
