<div id="animals-batch-edit">
    <div class="row">
        <div class="large-6 columns">
            <h3> Maak een nieuw dier aan</h3>
            <form *ngIf="!isCreating" [formGroup]="form">
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'ULN' | translate }}</label>
                        <app-uln-input
                                [ulnCountryCode]="newAnimal.uln_country_code"
                                (ulnCountryCodeChange)="newAnimal.uln_country_code=$event"
                                [ulnNumber]="newAnimal.uln_number"
                                (ulnNumberChange)="newAnimal.uln_number=$event"
                                [disabled]="isCreating"
                        ></app-uln-input>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'DATE OF BIRTH' | translate }}</label>
                        <app-datepicker-v2
                                [dateString]="newAnimal.date_of_birth"
                                [modelFormat]="settings.getModelDateTimeFormat()"
                                [disabled]="isSaving"
                                [updateInitialValues]="(initialValuesChanged)"
                                (isDateStringChanged)="newAnimal.date_of_birth = $event"
                        ></app-datepicker-v2>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'GENDER' | translate}}
                            <select formControlName="gender" class="table-input">
                                <option value="FEMALE">{{ 'Ewe' | translate }}</option>
                                <option value="MALE">{{ 'Ram' | translate }}</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'ALIVE' | translate}}
                            <input type="checkbox" formControlName="is_alive">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'CURRENT UBN' | translate }}</label>
                        <app-ubn-dropdown
                                class="table-input"
                                [labelText]="'CURRENT UBN'"
                                (selectedLocationChange)="newAnimal.location = $event;"
                        ></app-ubn-dropdown>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'PEDIGREE REGISTER' | translate }}</label>
                        <app-pedigree-register-dropdown
                                [selectedPedigreeRegisterId]="newAnimal.pedigree_register ? newAnimal.pedigree_register.id : null"
                                [disabled]="isSaving"
                                (pedigreeRegisterChange)="newAnimal.pedigree_register=$event"
                        ></app-pedigree-register-dropdown>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'BREEDER UBN' | translate }} ({{ 'LOCATION' | translate}})</label>
                        <app-ubn-dropdown
                                class="table-input"
                                [labelText]="'BREEDER UBN'"
                                (selectedLocationChange)="setLocationOfBirth($event);"
                        ></app-ubn-dropdown>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'BREEDER UBN' | translate }}</label>
                        <input title="ubnOfBirth" class="table-input" type="number" name="ubn_of_birth" [(ngModel)]="newAnimal.ubn_of_birth" [disabled]="isSaving">
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'FATHER' | translate }}</label>
                        <app-parent-selector
                                [parentType]="'FATHER'"
                                [parent]=newAnimal.parent_father
                                [disabled]="isSaving"
                                (parentChange)="newAnimal.parent_father=$event"
                        ></app-parent-selector>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'MOTHER' | translate }}</label>
                        <app-parent-selector
                                [parentType]="'MOTHER'"
                                [parent]=newAnimal.parent_mother
                                [disabled]="isSaving"
                                (parentChange)="newAnimal.parent_mother=$event"
                        ></app-parent-selector>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'STN' | translate }}</label>
                        <app-stn-input
                                [pedigreeCountryCode]="newAnimal.pedigree_country_code"
                                (pedigreeCountryCodeChange)="newAnimal.pedigree_country_code=$event"
                                [pedigreeNumber]="newAnimal.pedigree_number"
                                (pedigreeNumberChange)="newAnimal.pedigree_number=$event"
                                [disabled]="isSaving"
                        ></app-stn-input>
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'SCRAPIE GENOTYPE' | translate }}</label>
                        <select
                                formControlName="scrapie_genotype"
                                title="scrapieGenotype"
                                type="scrapieGenotype"
                                class="table-input scrapiegenotype-input"
                                [(ngModel)]="newAnimal.scrapie_genotype"
                                [disabled]="isSaving">
                            <option [value]=""> </option>
                            <option *ngFor="let scrapieGenotype of scrapieGenotypes" value="{{ scrapieGenotype }}"
                            >{{ scrapieGenotype }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'NAME' | translate }}</label>
                        <input
                                formControlName="nickname"
                                title="nickname"
                                class="table-input"
                                type="text"
                                [(ngModel)]="newAnimal.nickname"
                                [disabled]="isSaving"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'N-LING BACKUP VALUE' | translate}} <i class="fa fa-info-circle" aria-hidden="true" title="{{'N-LING BACKUP VALUE EXPLANATION' | translate}}"></i></label>
                        <input
                                formControlName="n_ling_backup"
                                title="n_ling_backup_value"
                                class="table-input"
                                type="number"
                                [(ngModel)]="newAnimal.n_ling"
                                [disabled]="isSaving"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'BREED CODE' | translate}}
                            <input
                                    type="text"
                                    placeholder="{{ 'BREED CODE' | translate }}"
                                    formControlName="breed_code"
                                    class="table-input"
                            />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns">
                        <label>{{ 'BREED TYPE' | translate}}
                            <select
                                    formControlName="breed_type"
                                    class="table-input">
                                <option *ngFor="let breedType of breedTypes" value="{{ breedType }}"
                                >{{ breedType | translate }}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <button (click)="createAnimal()" class="button" type="submit">{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </form>
            <div *ngIf="isCreating" class="row">
                <div class="large-5 columns">
                    <div class="loader-spinner">
                    </div>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="row">
                <div class="large-5 columns">
                    <h3>Wijzig geslacht</h3>
                    <form [formGroup]="findForm">
                        <label>{{ 'ULN' | translate}}
                            <input type="text" placeholder="Zoek op ULN" formControlName="uln">
                        </label>
                        <button (click)="findAnimal()" class="button">{{ 'SEARCH' | translate}}</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <div *ngIf="isSearching" class="loader-spinner">
                    </div>
                </div>
            </div>

            <div *ngIf="!!editAnimal">
                <form [formGroup]="editForm">
                    <div class="row">
                        <div class="large-5 columns">
                            <label>{{ 'ULN' | translate }}
                                <input type="text" placeholder="{{ 'ULN' | translate }}" value="{{ editAnimal.uln_country_code }}{{ editAnimal.uln_number }}" disabled/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-5 columns">
                            <label>{{ 'STN' | translate }}
                                <input type="text" placeholder="{{ 'STN' | translate }}" value="{{ editAnimal.pedigree_country_code }}{{ editAnimal.pedigree_number }}" disabled/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-5 columns">
                            <label>{{ 'DATE OF BIRTH' | translate }}
                                <input type="text" placeholder="{{ 'DATE OF BIRTH' | translate }}" value="{{ editAnimal.date_of_birth | date: 'dd-MM-yyyy'}}" disabled/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-5 columns">
                            <label>{{ 'GENDER' | translate}}
                                <select formControlName="gender">
                                    <option value="EWE">{{ 'Ewe' | translate }}</option>
                                    <option value="RAM">{{ 'Ram' | translate }}</option>
                                    <option value="NEUTER">{{ 'Neuter' | translate }}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <button (click)="updateAnimal()" class="button">{{ 'EDIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
