<ng-template *ngIf="isLoadingGeneralData()">
    <p class="text-center">{{'LOADING'|translate}}</p>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</ng-template>

<ng-template *ngIf="!isLoadingGeneralData()">
    <div class="row table-options-container" style="margin-top: 1rem">

        <div class="large-2 medium-2 small-12 columns">
            <label class="left">
                {{ 'DEFAULT TEMPLATES FOR ALL UBNS' | translate }}
                <div class="switch large">
                    <input class="switch-input" id="yes-no" type="checkbox" name="allUbnSwitch" [(ngModel)]="isDefaultTemplate" (click)="resetSelectedUbn()">
                    <label class="switch-paddle" for="yes-no">
                        <span class="show-for-sr">{{ 'CREATE DEFAULT TEMPLATE FOR ALL UBNS' | translate }}</span>
                        <span class="switch-active" aria-hidden="true"
                              value="true"
                        >{{ 'YES' | translate }}</span>
                        <span class="switch-inactive" aria-hidden="true"
                              value="false"
                        >{{ 'NO' | translate }}</span>
                    </label>
                </div>
            </label>
        </div>

        <div class="large-2 medium-2 small-12 columns end">
            <label class="left">
                {{ 'UBN' | translate }}
                <select
                        [disabled]="isDefaultTemplate"
                        [(ngModel)]="selectedUbn"
                >
                    <option
                            *ngFor="let location of locations"
                            value="{{location.ubn}}"
                    >{{ location.ubn }}</option>
                </select>
            </label>
        </div>

        <div class="large-2 medium-2 small-12 columns end">
            <label class="left">
                {{ 'KIND' | translate }}
                <select
                        [(ngModel)]="selectedTreatmentTypeKind"
                        (change)="page = 1"
                >
                    <option *ngFor="let kind of treatmentTemplateKinds"  value="{{kind}}">{{ kind | translate }}</option>
                </select>
            </label>
        </div>

        <div class="large-3 medium-3 small-12 columns end" style="margin-top: 1.5rem">
            <button
                    [disabled]="!isFirstSelectionValid()"
                    class="button"
                    type="button"
                    (pageChange)="page = 1"
                    (click)="onCaseSelection()"
            >{{ 'GET TREATMENT TEMPLATES' | translate }}</button>
        </div>
        <div class="large-3 medium-3 small-12 columns end" style="margin-top: 1.5rem">
            <button type="button" (click)="openModal(false)" class="button">
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                {{ 'ADD TREATMENT TEMPLATE' | translate }}
            </button>
        </div>
    </div>
</ng-template>

<ng-template *ngIf="wasCaseSelected">

    <hr>

    <ng-template *ngIf="isLoadingTreatmentData()">
        <p class="text-center">{{'LOADING'|translate}}</p>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </ng-template>

    <ng-template *ngIf="!isLoadingTreatmentData()">
        <div class="row table-filter-container">
            <div class="large-2 medium-3 small-12 columns end">
                <label>
                    {{ 'SEARCH' | translate }} <i class="fa fa-info-circle" aria-hidden="true" title="Zoeken in omschrijving en medicijnen"></i>
                    <input type="text" [(ngModel)]="filterSearch" (keydown)="page = 1" placeholder="{{ 'SEARCH' | translate }}" maxlength="50">
                </label>
            </div>
            <div class="large-2 medium-2 small-12 columns end">
                <label class="left">
                    {{ 'ACTIVE' | translate }}
                    <select
                            [(ngModel)]="filterIsActiveStatus"
                            (change)="page = 1"
                    >
                        <option *ngFor="let status of activeStatuses" [value]="status">{{getBoolDrowDownText(status) | translate}}</option>
                    </select>
                </label>
            </div>
        </div>

        <div id="treatment-template-table">
            <div class="row">
                <div class="large-12 columns">
                    <table class="stacked">
                        <thead>
                        <tr>
                            <td>{{ 'ACTIVE' | translate}}</td>
                            <td>{{ 'KIND' | translate}}</td>
                            <td>{{ 'DESCRIPTION' | translate}}
                                <app-sort-switch
                                        [pointsUp]="isDescriptionSortAscending"
                                        (sortSwitchToggled)="onSortByDescriptionToggle(); page = 1">
                                </app-sort-switch>
                            </td>
                            <td>{{ 'UBN' | translate}}</td>
                            <td>{{ 'MEDICATIONS' | translate }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let treatmentTemplate of treatmentTemplates | treatmentTemplateFilter:getFilterOptions() ">
                            <td><app-check-mark [boolVal]="treatmentTemplate.is_active"></app-check-mark></td>
                            <td>{{ treatmentTemplate.type | translate }}</td>
                            <td>{{ treatmentTemplate.description }}</td>
                            <td>{{ treatmentTemplate.location ? treatmentTemplate.location.ubn : 'ALL UBNS' | translate }}</td>
                            <td>
                                {{treatmentTemplate.treatment_medications ? treatmentTemplate.treatment_medications.length: '0'}}x
                                <span>
                                    <a (click)="openInfoModal(treatmentTemplate)" class="overview-controls">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span *ngIf="treatmentTemplate.is_active" class="pull-right overview-controls">
                                    <a (click)="openModal(true, treatmentTemplate)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                                    <a (click)="openRemoveModal(treatmentTemplate)" class="remove-button"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                                </span>
                                    <span *ngIf="!treatmentTemplate.is_active" class="pull-right overview-controls">
                                    <a (click)="openReactivateModal(treatmentTemplate)"><i class="fa fa-plus fa-fw" aria-hidden="true" title="{{'REACTIVATE' | translate}}"></i></a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </ng-template>

</ng-template>

<!--CREATE AND EDIT MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': displayModal}">
    <div class="tiny reveal" [ngStyle]="{'display': displayModal}" style="padding: 2em; width: 50em; max-width: 95vw">
        <div class="modal-header">
            <span *ngIf="!isModalEditMode">{{ 'NEW TREATMENT TEMPLATE' | translate }}</span>
            <span *ngIf="isModalEditMode">{{ 'EDIT TREATMENT TEMPLATE DATA' | translate }}</span>
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <hr>

        <div [formGroup]="cuForm" class="modal-body">

            <div class="row">
                <div class="large-9 columns">
                    <label class="middle"> {{ 'DEFAULT TEMPLATES FOR ALL UBNS' | translate }} * </label>
                </div>
                <div class="large-3 columns">
                    <ng-template *ngIf="!isModalEditMode">
                        <div class="switch large">
                            <input class="switch-input"
                                   id="yes-no-for-create-edit"
                                   type="checkbox"
                                   name="allUbnSwitch"
                                   [(ngModel)]="newIsDefaultTemplate"
                                   [disabled]="isSaving || isModalEditMode"
                                   (click)="resetNewSelectedUbn();setDescriptionValues()">
                            <label class="switch-paddle" for="yes-no-for-create-edit">
                                <span class="show-for-sr">{{ 'CREATE DEFAULT TEMPLATE FOR ALL UBNS' | translate }}</span>
                                <span class="switch-active" aria-hidden="true"
                                      value="true"
                                >{{ 'YES' | translate }}</span>
                                <span class="switch-inactive" aria-hidden="true"
                                      value="false"
                                >{{ 'NO' | translate }}</span>
                            </label>
                        </div>
                    </ng-template>
                    <ng-template *ngIf="isModalEditMode">
                        <div class="large-8 columns">
                            <input [disabled]="true" type="text" style="background-color: whitesmoke; color: black;"
                                   placeholder="{{getNewIsDefaultTemplateAsYesOrNo() | translate}}">
                        </div>
                    </ng-template>

                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <label class="left">
                        {{ 'UBN' | translate }} {{ newIsDefaultTemplate ? '' : ' *'}}
                    </label>
                </div>
                <div class="large-8 columns">
                    <select
                            [disabled]="newIsDefaultTemplate || isSaving || isModalEditMode"
                            [(ngModel)]="newSelectedUbn"
                            (click)="setDescriptionValues(null)"
                            name="ubn"
                    >
                        <option
                                *ngFor="let location of locations"
                                value="{{location.ubn}}"
                        >{{ location.ubn }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <label class="middle"> {{ 'KIND' | translate }} <span *ngIf="!isModalEditMode">*</span></label>
                </div>
                <div class="large-8 columns">
                    <select
                            [(ngModel)]="newTreatmentTemplate.type"
                            formControlName="type"
                            (change)="page = 1"
                            (keydown)="resetValidation()"
                            [disabled]="isModalEditMode || isSaving"
                    >
                        <option *ngFor="let kind of treatmentTemplateKinds" value="{{kind}}"> {{ kind | translate }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <label class="middle"> {{ 'DESCRIPTION' | translate }} * </label>
                </div>
                <div class="large-8 columns">
                    <select
                            [disabled]="isSaving || isModalEditMode"
                            [(ngModel)]="descriptionBase"
                            name="description"
                            formControlName="description"
                            (keydown)="resetValidation()"
                            (click)="setDescriptionValues(descriptionBase)"
                    >
                        <option
                                *ngFor="let treatmentType of getTreatmentTypesByKindInCreateUpdateModal()"
                                value="{{treatmentType}}"
                        >{{ treatmentType }}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">&nbsp;</div>
                <div class="large-8 columns end">
                    <p>{{newTreatmentTemplate.description}}</p>
                </div>
            </div>

            <hr>

            <div class="row">
                {{ 'MEDICATIONS' | translate }}
            </div>

            <app-medicine-form-entry
                    *ngFor="let treatmentMedication of newMedications; let i = index"
                    [index]="i"
                    (updateTreatmentMedication)="updateMedication($event)"
                    (removeTreatmentMedication)="removeMedication($event)"
                    [treatmentMedication]="treatmentMedication"
                    [isSaving]="isSaving"
                    [isEdit]="isModalEditMode"
                    [treatmentMedicines]="treatmentMedications"
            ></app-medicine-form-entry>

            <div class="row">
            <button type="button" (click)="onAddNewBlankMedication()" class="button secondary">
                {{ 'ADD MEDICATION' | translate }}
            </button>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="large-12 columns">
                    <span class="pull-right required-description"> * {{ 'IS A REQUIRED FIELD' | translate }} </span>
                </div>
            </div>
            <span class="pull-left">
                <label *ngIf="!isValidForm" class="input-error-msg">{{ 'FILL IN ALL THE REQUIRED FIELDS' | translate }}</label>
                <label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>
            </span>
            <span class="pull-right">
                <button *ngIf="!isModalEditMode" [disabled]="isSaving" (click)="addTreatmentTemplate()" class="tiny primary button">
                    <span *ngIf="!isSaving">
                        {{ 'ADD' | translate}}
                    </span>
                    <span *ngIf="isSaving">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button *ngIf="isModalEditMode" [disabled]="isSaving" (click)="editTreatmentTemplate()" class="tiny primary button">
                    <span *ngIf="!isSaving">
                        {{ 'EDIT' | translate}}
                    </span>
                    <span *ngIf="isSaving">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button (click)="closeModal()" [disabled]="isSaving" class="tiny alert button">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>

<!--REMOVE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': displayRemoveModal}">
    <div class="tiny reveal" [ngStyle]="{'display': displayRemoveModal}">
        <div class="modal-header">
            {{ 'REMOVE TREATMENT TYPE' | translate }}
            <button type="button" (click)="closeRemoveModal()" class="pull-right" aria-label="Close modal">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REMOVE THIS TREATMENT TYPE' | translate }} </div>
        <div class="modal-footer">
            <span class="pull-left">
                <label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>
            </span>
            <span class="pull-right">
            <button class="tiny alert button" [disabled]="isSaving" (click)="removeTreatmentTemplate()">
                <span *ngIf="!isSaving">
                    {{ 'REMOVE' | translate}}
                </span>
                <span *ngIf="isSaving">
                    <i class="fa fa-gear fa-spin fa-fw"></i>
                </span>
            </button>
            <button class="tiny primary button" [disabled]="isSaving" (click)="closeRemoveModal()">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>

<!--REACTIVATE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': displayReactivateModal}">
    <div class="tiny reveal" [ngStyle]="{'display': displayReactivateModal}">
        <div class="modal-header">
            {{ 'REACTIVATE TREATMENT TYPE' | translate }}
            <button type="button" (click)="closeReactivateModal()" class="pull-right" aria-label="Close modal">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REACTIVATE THIS TREATMENT TYPE' | translate }} </div>
        <div class="modal-footer">
            <span class="pull-left">
                <label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>
            </span>
            <span class="pull-right">
            <button class="tiny alert button" [disabled]="isSaving" (click)="reactivateTreatmentTemplate()">
                <span *ngIf="!isSaving">
                    {{ 'REACTIVATE' | translate}}
                </span>
                <span *ngIf="isSaving">
                    <i class="fa fa-gear fa-spin fa-fw"></i>
                </span>
            </button>
            <button class="tiny primary button" [disabled]="isSaving" (click)="closeReactivateModal()">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>

<!--INFO MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': displayInfoModal}">
    <div class="tiny reveal" [ngStyle]="{'display': displayInfoModal}">
        <div class="modal-header">
            {{ 'MEDICATIONS' | translate }}
            <button type="button" (click)="closeInfoModal()" class="pull-right" aria-label="Close modal">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <table class="stacked">
            <thead>
            <tr>
                <td>{{ 'NAME' | translate }}</td>
                <td>{{ 'DOSAGE' | translate }}</td>
                <td>{{ 'TREATMENT DURATION' | translate }}</td>
                <td>{{ 'WAITING DAYS' | translate }}</td>
                <td>{{ 'REG NL' | translate }}</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medication of treatmentTemplate.treatment_medications">
                <td>{{ medication.name }}</td>
                <td>{{ medication.dosage }} {{ medication.dosage_unit }}</td>
                <td>{{ medication.treatment_duration }}</td>
                <td>{{ medication.waiting_days }}</td>
                <td>{{ medication.reg_nl }}</td>
            </tr>
            </tbody>
        </table>

        <div class="modal-footer">
            <span class="pull-left">
            <button class="tiny primary button" [disabled]="isSaving" (click)="openModal(true, treatmentTemplate); closeInfoModal()">{{ 'EDIT' | translate}}</button>
            </span>
        </div>

        <div class="modal-footer">
            <span class="pull-right">
            <button class="tiny alert button" [disabled]="isSaving" (click)="closeInfoModal()">{{ 'CLOSE' | translate}}</button>
            </span>
        </div>
    </div>
</div>