<div class="large-12 table-search">
    <div class="large-2 large-push-10">
        <input type="text" [(ngModel)]="searchValue" maxlength="20" placeholder="{{ 'SEARCH' | translate }}">
    </div>
</div>


<table>
    <thead>
        <tr>
            <td> {{ 'UBN' | translate }} </td>
            <td> {{ 'NAME' | translate }} </td>
            <td> {{ 'INSPECTION' | translate }} </td>
            <td> {{ 'REQUEST DATE' | translate }} </td>
            <td> {{ 'NEXT ACTION' | translate }} </td>
            <td> {{ 'LAST ACTION TAKEN BY' | translate }} </td>
            <td> {{ 'CURRENT LIVESTOCK COUNT' | translate }} </td>
            <td>
                <!--<span class="pull-right">
                    <button type="button" (click)="openModal()" class="small primary button">
                        {{ 'NEW INSPECTION' | translate }}
                    </button>
                </span>-->
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of _announced | inspectionAnnouncementPipe: searchValue">
            <td>{{ request?.location?.ubn }}</td>

            <td>{{ request?.location?.first_name }} {{ request?.location?.last_name }}</td>
            <td>{{ request?.illness_type | translate }}</td>
            <td>{{ request?.request_date | date: 'dd-MM-yyyy @HH:mm:ss' }} </td>
            <td>{{ 'Barcode + Begeleidende brief' | translate }}</td>
            <!--<td>{{ request?.inspection | translate }}</td>-->
            <!--<td>
                <span *ngIf="request.request_date">
                    {{ settings.convertToViewDate(request.request_date) }}
                </span>
                <span *ngIf="!request.request_date">
                    --
                </span>
            </td>-->
            <!--<td>{{ request?.next_action | translate }}</td>-->
            <td>
                {{ request?.action_taken_by?.first_name + " " + request?.action_taken_by?.last_name }}
                <!--({{ settings.convertToViewDateTime(request.direction_date) }})-->
            </td>
            <td>{{ request.location.livestock_count }}</td>
            <td>
                <span class="pull-right">
                    <label>{{ 'MINIMUM AMOUNT OF ANIMALS' | translate }}</label>
                    <input type="number" [(ngModel)]="request.location.livestock_count">
                    <button [disabled]="_isLoading" type="button" (click)="createInspection(request)" class="small primary button">
                        <i *ngIf="_isLoading" class="fa fa-gear fa-spin fa-fw"></i>
                        <span *ngIf="!_isLoading" >
                            {{ 'START INSPECTION' | translate }}
                        </span>
                    </button>
                    <button [disabled]="_isLoading" type="button" (click)="cancelAnnouncement(request, $event, true)" class="small alert button">
                        <i *ngIf="_isLoading" class="fa fa-gear fa-spin fa-fw"></i>
                        <span *ngIf="!_isLoading">
                            {{ 'CANCEL INSPECTION' | translate }}
                        </span>
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<!--
<div id="inspection-creation-modal" class="reveal-overlay" [ngStyle]="{'display': showModal}">
    <div class="large reveal" [ngStyle]="{'display': showModal}">
        <div class="modal-header">
            {{ 'NEW INSPECTION' | translate }}
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="large-4 large-centered columns">
                    <div class="row">
                        <div class="large-3 columns">
                            <label class="middle"> {{ 'UBN' | translate }} </label>
                        </div>
                        <div class="large-5 columns">
                            <input [(ngModel)]="inspection.ubn" type="text" maxlength="10">
                        </div>
                        <div class="large-4 columns">
                            <button (click)="getLocationDetails()" [disabled]="isRequestingLocationHealth" class="tiny primary button expanded">
                                <span *ngIf="!isRequestingLocationHealth">
                                    {{ 'SELECT' | translate }}
                                </span>
                                <span *ngIf="isRequestingLocationHealth">
                                    <i class="fa fa-gear fa-spin fa-fw"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="selectedLocation" class="row">
                        <div class="large-3 columns">
                            <label class="middle"> {{ 'ILLNESS' | translate }} </label>
                        </div>
                        <div class="large-9 columns">
                            <select #illnessSelection (change)="checkLocationHealthStatus(illnessSelection.value)">
                                <option value="" disabled selected> -- </option>
                                <option value="SCRAPIE">{{ 'SCRAPIE' | translate }}</option>
                                <option value="MAEDI VISNA">{{ 'MAEDI VISNA' | translate }}</option>
                                <option value="CAE">{{ 'CAE' | translate }}</option>
                                <option value="CL">{{ 'CL' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="isUnhealthyLocation" class="row">
                        <div class="large-3 columns">
                            <label class="middle"> {{ 'STATUS' | translate }} </label>
                        </div>
                        <div class="large-9 columns">
                            <select #statusSelection (change)="selectInspectionStatus(statusSelection.value)">
                                <option value="" disabled selected> -- </option>
                                <option value="CERTIFICATION">{{ 'CERTIFICATION' | translate }}</option>
                                <option value="WITHOUT CERTIFICATION">{{ 'WITHOUT CERTIFICATION' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="inspection.certification_status == 'CERTIFICATION'" class="row">
                        <div class="large-3 columns">
                            <label class="middle"> {{ 'ROADMAP' | translate }} </label>
                        </div>
                        <div class="large-9 columns">
                            <select #roadmapSelection (change)="selectRoadmap(roadmapSelection.value)">
                                <option value="ONE INSPECTION" selected>{{ 'ONE INSPECTION' | translate }}</option>
                                <option value="TWO INSPECTION">{{ 'TWO INSPECTION' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div *ngIf="inspection.inspection" class="row">
                        <div class="large-12 columns">
                            <livestock-overview [animals]="animals" [itemsPerPage]="10" (selected)="getSelectedAnimals($event)"></livestock-overview>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="pull-right">
                <button (click)="createInspection()" [disabled]="selectedAnimals.length == 0 || (isUnhealthyLocation && inspection.certification_status == '') || isRequesting" class="tiny primary button">
                    <span *ngIf="!isRequesting">
                        {{ 'SAVE' | translate }}
                    </span>
                    <span *ngIf="isRequesting">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button (click)="closeModal()" class="tiny alert button">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>-->
