<div id="animals">

    <!--BREADCRUMBS-->
    <div class="row">
        <ul class="breadcrumbs">
            <li><a routerLink="/dashboard">{{ 'DASHBOARD' | translate }}</a></li>
            <li>{{ 'ANIMAL DATA' | translate }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="page-header">
            <div class="page-title">{{ 'ANIMAL DATA' | translate }}</div>
        </div>
    </div>

    <!--TABS MEDIUM/LARGE SCREENS-->
    <div class="row hide-for-small-only">
        <ul class="tabs">
            <li class="tabs-title">
                <a routerLink="/animals/batch-edit" routerLinkActive="active">{{ 'BATCH EDIT' | translate }}</a>
            </li>
        </ul>
    </div>

    <!--TABS SMALL SCREENS-->
    <div class="row show-for-small-only">
        <label> {{ 'TAB' | translate }}
            <select [(ngModel)]="selectedRoute" (change)="navigateTo($event.target.value)">
                <option value="/animals/batch-edit">{{ 'BATCH EDIT' | translate }}</option>
            </select>
        </label>
    </div>

    <!--PAGE CONTENT-->
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>