<div class="row">
    <div class="large-7 columns">
        <label class="pull-left"> {{ 'DESCRIPTION' | translate }} *</label>
        <input type="text" [(ngModel)]="medicationOption.description" (change)="onEdit()" [disabled]="isSaving">
    </div>
    <div class="large-4 columns">
        <label class="pull-left"> {{ 'DOSAGE' | translate }} *</label>
        <input type="number" min="0" [(ngModel)]="medicationOption.dosage" (change)="onEdit()" [disabled]="isSaving">
    </div>
    <div class="large-1 columns" style="margin-top: 1.5em">
        <button class="button alert" (click)="onRemove()" [disabled]="isSaving">
            <i class="fa fa-trash-o fa-lg"></i></button>
    </div>
</div>