<table *ngIf="!showAuthPage">
    <thead>
    <tr>
        <td> {{ 'UBN' | translate }} </td>
        <td> {{ 'NAME' | translate }} </td>
        <td> {{ 'ORDER NUMBER' | translate }} </td>
        <td> {{ 'INSPECTION' | translate }} </td>
        <td> {{ 'REQUEST DATE' | translate }} </td>
        <td> {{ 'NEXT ACTION' | translate }} </td>
        <td> {{ 'LAST ACTION TAKEN BY' | translate }} </td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inspection of _toAuthorize">
            <td>{{ inspection?.location?.ubn }}</td>
            <td>{{ inspection?.location?.first_name }} {{ inspection?.location?.last_name }}</td>
            <td>{{ inspection?.order_number }}</td>
            <td>{{ inspection?.illness_type | translate }}</td>
            <td>
                <span *ngIf="inspection.request_date">
                    {{ settings.convertToViewDate(inspection?.request_date) }}
                </span>
                <span *ngIf="!inspection.request_date">
                    --
                </span>
            </td>
            <td>{{ inspection?.next_action | translate }}</td>
            <td>{{ inspection?.action_log?.action_by?.first_name + " " + inspection?.action_log?.action_by?.last_name }} ({{ settings.convertToViewDateTime(inspection?.direction_date) }})</td>
            <td>
                <lab-results-uploader [disabled]="inspection.status == 'TO AUTHORIZE'" [inspection]="inspection"></lab-results-uploader>
                <lab-result-file-list-viewer
                        [inspection]="inspection"
                        [labResultFiles]="inspection.lab_result_files"
                                ></lab-result-file-list-viewer>
                <button [disabled]="inspection.status == 'RECEIVED INCOMPLETE LAB RESULTS'" type="button" (click)="switchToAuthPage(inspection)" class="small expanded primary button">
                    {{ 'AUTHORIZE' | translate }}
                </button>
            </td>
        </tr>
    </tbody>
</table>

<request-auth
    *ngIf="showAuthPage"
    [labResult]="lab_result"
    [inspection]="selectedInspection"
    (showOverviewPage)="switchToOverviewPage($event)">
</request-auth>
