<div class="row">
    <div class="large-3 columns sub-page-header">
        <span class="sub-page-title">
           {{ 'INVOICES VARIABLES' | translate }}
        </span>
    </div>


    <div class="large-3 columns" >
        <span>
            <select style="font-size:0.7rem" [(ngModel)]="filterAmount" (change)="page = 1">
                <option value="5">{{ 'DISPLAY AMOUNT' | translate }} 5</option>
                <option value="10">{{ 'DISPLAY AMOUNT' | translate }} 10</option>
                <option value="25">{{ 'DISPLAY AMOUNT' | translate }} 25</option>
            </select>
        </span>
    </div>

    <div class="large-6 columns">
        <input style="font-size:0.7rem"
                type="text"
               [(ngModel)]="filterSearch"
               (keydown)="page = 1"
               placeholder="{{ 'SEARCH' | translate }}"
               maxlength="50">
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <td>{{'LEDGER CATEGORY' | translate}}</td>
                    <td>{{'DESCRIPTION' | translate}}</td>
                    <td style="text-align: right">{{'PRICE (EXCL. VAT)' | translate}}</td>
                    <td>{{'VAT PERCENTAGE RATE' | translate}}</td>
                    <td>
                        <button type="button" (click)="openModal(false)" class="small primary button pull-right">
                            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                            {{ 'ADD INVOICE RULE' | translate }}
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isLoading && rules.length == 0">
                    <td colspan="10">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="!isLoading && rules.length == 0">
                    <td colspan="4" class="text-center">{{ 'NO RULES HAVE BEEN ADDED' | translate }}</td>
                </tr>

                <tr *ngFor="let rule of rules | invoiceRuleSearchPipe:getFilterOptions()  | paginate: {itemsPerPage: filterAmount, currentPage: page}">
                    <td>
                        {{ rule.ledger_category ? rule.ledger_category.description : '-' }} [{{ rule.ledger_category ? rule.ledger_category.code : '-' }}]
                    </td>
                    <td>
                        {{ rule.description }}
                    </td>
                    <td style="text-align: right">
                        {{ rule.price_excl_vat | localNumberFormat:3 }}
                    </td>
                    <td>
                        {{ rule.vat_percentage_rate }}
                    </td>
                    <td>
                        <span class="pull-right">
                            <a (click)="setModalInput(rule)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                            <a (click)="removeInvoiceRule(rule)" class="remove-button"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination (pageChange)="page = 1" [goToFirstPage]="(isLoadedEvent)"></pagination>
    </div>
</div>

<!--ADD/EDIT INVOICE RULE MODAL-->
<invoice-rule-edit-component
        [selectedRule]="selectedModalRule"
        [selectedLedgerCategory]="selectedModalRule.ledger_category"
        [isModalEditMode]="isModalEditMode"
        [displayModal]="displayModal"
        (close)="closeModal()"
        (newRule)="addInvoiceRule($event)"
        (sendRule)="editInvoiceRule($event)"
>

</invoice-rule-edit-component>

<!--ERROR MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': modalDisplay}">
    <div class="tiny reveal" [ngStyle]="{'display': modalDisplay}">
        <div class="modal-header">
            {{ 'ERROR' | translate }}
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body">
            {{ errorMessage | translate:{value: errorData} }}
        </div>
        <div class="modal-footer">
            <button class="tiny primary button pull-right" (click)="closeModal()">{{ 'OK' | translate}}</button>
        </div>
    </div>
</div>