<table>
    <thead>
    <tr>
        <td> {{ 'UBN' | translate }} </td>
        <td> {{ 'NAME' | translate }} </td>
        <td> {{ 'INSPECTION' | translate }} </td>
        <td> {{ 'TOTAL LEAD TIME' | translate }} </td>
        <td> {{ 'DATA' | translate }} </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inspection of _finished">
        <td> {{ inspection?.location?.ubn }} </td>
        <td> {{ inspection?.location?.last_name }} </td>
        <td> {{ inspection?.illness_type | translate }} </td>
        <td>
            <span *ngIf="inspection?.total_lead_time == 0 || inspection?.total_lead_time > 1"> {{ inspection?.total_lead_time }} {{ 'DAYS FROM SAMPLING TO AUTHORIZATION' | translate }} </span>
            <span *ngIf="inspection?.total_lead_time == 1"> {{ inspection?.total_lead_time }} {{ 'DAY FROM SAMPLING TO AUTHORIZATION' | translate }} </span>
        </td>
        <td>
            <!--<span *ngFor="let direction of inspection?.directions">
                {{ 'LABEL_INSPECTION_' + direction.direction_type | translate}}: {{ direction.first_name + " " + direction.last_name }} ({{ settings.convertToViewDateTime(direction.direction_date) }}) <br>
            </span>-->
        </td>
    </tr>
    </tbody>
</table>
