<div id="animals-batch-edit">
    <div class="row">
        <div class="column large-3">
            <!--OPEN OPTIONS ACCORDION BUTTON-->
            <button class="accordion-button expanded" [ngClass]="{'toggled': openOptions}" (click)="openOptions = !openOptions">
                <i *ngIf="!openOptions" class="fa fa-caret-right fa-fw" aria-hidden="true"></i>
                <i *ngIf="openOptions" class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
                <span> {{ 'OPTIONS' | translate }} </span>
            </button>
        </div>
        <div class="column large-3">
            <!--OPEN FILTER ACCORION BUTTON-->
            <button class="accordion-button expanded" [ngClass]="{'toggled': openFilters}" (click)="openFilters = !openFilters">
                <i *ngIf="!openFilters" class="fa fa-caret-right fa-fw" aria-hidden="true"></i>
                <i *ngIf="openFilters" class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
                <span> {{ 'FILTERS' | translate }} </span>
            </button>
        </div>
        <div class="column large-3">
            <!--OPEN GET ANIMALS MODAL BUTTON-->
            <ng-template *ngIf="!retrievingAnimals">
                <button
                        type="button"
                        class="button success"
                        (click)="displayStartInputModal = 'block'"
                >{{'RETRIEVE ANIMALS'|translate}}</button>
            </ng-template>
            <ng-template *ngIf="retrievingAnimals">
                <button
                        type="button"
                        class="button secondary"
                        [disabled]="true"
                >{{'RETRIEVE ANIMALS'|translate}}</button>
            </ng-template>
        </div>
        <div class="column large-3">
            <!--UPDATE ANIMALS BUTTON-->
            <app-http-call-button
                    [labelText]="'UPDATE ALL FILTERED ANIMALS'"
                    [processing]="isSaving"
                    [disabled]="!isDataLoaded()"
                    (click)="doPutUpdateAnimals()"
            ></app-http-call-button>
        </div>
    </div>

    <hr *ngIf="openOptions">

    <div class="row">
        <div class="column large-3">
            <div class="accordion-container" [hidden]="!openOptions">
                <div class="filler-block">{{ 'SHOW DATA OPTIONS' | translate }}</div>

                <label>{{ 'IDENTITY' | translate }} <input   [(ngModel)]="showIds" type="checkbox"></label>
                <label>{{ 'BREED' | translate }} <input      [(ngModel)]="showBreedData" type="checkbox"></label>
                <label>{{ 'BLOODLINE' | translate }} <input  [(ngModel)]="showPedigreeData" type="checkbox"></label>
                <label>{{ 'NOTE' | translate }} <input       [(ngModel)]="showNote" type="checkbox"></label>
                <label>{{ 'DATES' | translate }} <input      [(ngModel)]="showDates" type="checkbox"></label>
                <label>{{ 'EXAMINATION' | translate }} <input [(ngModel)]="showExaminationData" type="checkbox"></label>
                <label>{{ 'HEALTH' | translate }} <input     [(ngModel)]="showHealthData" type="checkbox"></label>

            </div>
        </div>
        <div class="column large-3 end">
            <div class="accordion-container" [hidden]="!openOptions">
                <div class="filler-block">{{ 'EDIT OPTIONS' | translate }}</div>

                <label>{{ 'EDIT ULNS' | translate }} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{'EDIT ULNS WARNING' | translate}} <input   [(ngModel)]="allowUlnEdit" type="checkbox"></label>
            </div>
        </div>
    </div>

    <hr *ngIf="openFilters">

    <div class="row">
        <div class="column large-6 end">
            <div class="accordion-container" [hidden]="!openFilters">
                <div class="filler-block">{{ 'FILTERS' | translate }}</div>

                <label>ADD FILTERS HERE</label>

            </div>
        </div>
    </div>
        
        <!--&lt;!&ndash;ACCORDION BUTTON&ndash;&gt;-->
        <!--<button class="accordion-button expanded" [ngClass]="{'toggled': filter_toggled}" (click)="filter_toggled = !filter_toggled">-->
            <!--<i *ngIf="!filter_toggled" class="fa fa-caret-right fa-fw" aria-hidden="true"></i>-->
            <!--<i *ngIf="filter_toggled" class="fa fa-caret-down fa-fw" aria-hidden="true"></i>-->
            <!--{{ '' | translate }} - -->
            <!--<span> {{ 'REFINE RESULTS' | translate }} </span>-->
        <!--</button>-->

        <!--&lt;!&ndash;FILTERS&ndash;&gt;-->
        <!--<div class="accordion-container" [hidden]="!filter_toggled">-->
            <!--<div class="filler-block">-->
                <!--{{ 'FILTERS' | translate }}-->
            <!--</div>-->

            <!--&lt;!&ndash;FILTER BIRTH OF DATE&ndash;&gt;-->
            <!--<label>{{ 'DATE OF BIRTH' | translate }}-->
                <!--<input [(ngModel)]="startDateFieldFilter" type="text" #startDateField (keyup)="0" id="filter_begindate" placeholder="{{ 'VIEW_DATE_FORMAT' | translate }}">-->
            <!--</label>-->
            <!--<label> {{'TILL' | translate }}-->
                <!--<input [(ngModel)]="endDateFieldFilter" type="text" #endDateField (keyup)="0" id="filter_enddate" placeholder="{{ 'VIEW_DATE_FORMAT' | translate }}">-->
            <!--</label>-->

            <!--&lt;!&ndash;FILTER GENDER&ndash;&gt;-->
            <!--<label>{{ 'GENDER' | translate }}-->
                <!--<select #filters_gender [(ngModel)]="genderFilterValue" [isActive]="onlyFemales">-->
                    <!--<option *ngFor="let gender of gender_filter_options" value="{{ gender }}">{{ gender | translate }}</option>-->
                <!--</select>-->
            <!--</label>-->

            <!--&lt;!&ndash;FILTER HISTORIC ANIMALS&ndash;&gt;-->
            <!--<label *ngIf="activateHistoricAnimalsFilter()">{{ 'SHOW HISTORIC ANIMALS' | translate }}-->
                <!--<select #filter_historic (change)="showHistoricAnimals(filter_historic.value)">-->
                    <!--<option value="NO" selected>{{ 'NO' | translate}}</option>-->
                    <!--<option value="YES">{{ 'YES' | translate}}</option>-->
                <!--</select>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->

    <app-table-spinner
            [isActive]="retrievingAnimals"
            [showLoadingText]="true"
    ></app-table-spinner>

    <ng-template *ngIf="!retrievingAnimals">
        <div class="row">
        <div class="large-12 columns">
            <table class="stacked">
                <thead>
                <tr>
                    <td *ngIf="showIds || showDates">{{ 'CREATION DATE' | translate}}</td>
                    <td *ngIf="showIds">{{ 'ID' | translate}}</td>
                    <td *ngIf="showIds">{{ 'AIIND' | translate}}</td>
                    <td *ngIf="showIds">{{ 'NAME' | translate}}</td>
                    <td *ngIf="showIds">{{ 'COLLAR NUMBER' | translate}}</td>
                    <td>{{ 'ULN' | translate}}</td>
                    <td>{{ 'STN' | translate}}</td>
                    <td>{{ 'GENDER' | translate}}</td>
                    <td>{{ 'CURRENT UBN' | translate}}</td>
                    <td>{{ 'ALIVE' | translate}}</td>

                    <td *ngIf="showNote">{{ 'NOTE' | translate}}</td>

                    <td *ngIf="showPedigreeData || showDates">{{ 'DATE OF BIRTH' | translate}}</td>
                    <td *ngIf="showDates">{{ 'DATE OF DEATH' | translate}}</td>

                    <td *ngIf="showPedigreeData">{{ 'PEDIGREE REGISTER' | translate}}</td>
                    <td *ngIf="showPedigreeData">{{ 'FATHER' | translate}}</td>
                    <td *ngIf="showPedigreeData">{{ 'MOTHER' | translate}}</td>
                    <td *ngIf="showBreedData || showPedigreeData">{{ 'N-LING' | translate}}</td>
                    <td *ngIf="showPedigreeData">{{ 'BREEDER UBN' | translate}}</td>
                    <td *ngIf="showPedigreeData">{{ 'BREEDER UBN' | translate}}({{ 'LOCATION' | translate}})</td>
                    <td *ngIf="showPedigreeData">{{ 'SURROGATE MOTHER' | translate}}</td>
                    <td *ngIf="showPedigreeData">{{ 'LAMBAR' | translate}}</td>
                    <td *ngIf="showPedigreeData">{{ 'BIRTH PROGRESS' | translate}}</td>

                    <td *ngIf="showBreedData">{{ 'BREED TYPE' | translate}}</td>
                    <td *ngIf="showBreedData">{{ 'BREED CODE' | translate}}</td>
                    <td *ngIf="showExaminationData">{{ 'PREDICATE' | translate}}</td>
                    <td *ngIf="showExaminationData">{{ 'PREDICATE SCORE' | translate}}</td>
                    <td *ngIf="showHealthData">{{ 'SCRAPIE GENOTYPE' | translate}}</td>
                    <td *ngIf="showHealthData">{{ 'BLINDNESS FACTOR' | translate}}</td>
                    <td *ngIf="showHealthData">{{ 'MYOMAX' | translate}}</td>
                    <td>{{ 'ULN' | translate}}</td>
                    <!--<td>-->
                    <!--<button type="button" (click)="openModal(false)" class="small primary button pull-right">-->
                    <!--<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>-->
                    <!--{{ 'ADD ADMIN' | translate }}-->
                    <!--</button>-->
                    <!--</td>-->

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let animal of editedAnimals">
                    <td *ngIf="showIds || showDates" title="{{ animal.creation_date  | date: 'dd-MM-yyyy @HH:mm:ss' }}">{{ animal.creation_date  | date: 'dd-MM-yyyy' }}</td>
                    <td *ngIf="showIds">{{ animal.id }}</td>
                    <td *ngIf="showIds"><input title="aiind" class="table-input" type="number" [(ngModel)]="animal.name" [disabled]="isSaving"></td>
                    <td *ngIf="showIds"><input title="nickname" class="table-input" type="text" [(ngModel)]="animal.nickname" [disabled]="isSaving"></td>

                    <td>
                        <app-collar-input
                                [collarColor]="animal.collar_color"
                                (collarColorChange)="animal.collar_color=$event"
                                [collarNumber]="animal.collar_number"
                                (collarNumberChange)="animal.collar_number=$event"
                                [disabled]="isSaving"
                                [updateInitialValues]="(initialValuesChanged)"
                        ></app-collar-input>
                    </td>

                    <td>
                        <app-uln-input
                                [ulnCountryCode]="animal.uln_country_code"
                                (ulnCountryCodeChange)="animal.uln_country_code=$event"
                                [ulnNumber]="animal.uln_number"
                                (ulnNumberChange)="animal.uln_number=$event"
                                [disabled]="isSaving || !allowUlnEdit"
                                [updateInitialValues]="(initialValuesChanged)"
                        ></app-uln-input>
                    </td>

                    <td>
                        <app-stn-input
                                [pedigreeCountryCode]="animal.pedigree_country_code"
                                (pedigreeCountryCodeChange)="animal.pedigree_country_code=$event"
                                [pedigreeNumber]="animal.pedigree_number"
                                (pedigreeNumberChange)="animal.pedigree_number=$event"
                                [disabled]="isSaving"
                                [updateInitialValues]="(initialValuesChanged)"
                        ></app-stn-input>
                    </td>

                    <td>{{ animal.type | translate}}</td>
                    <td>{{ animal.location ? animal.location.ubn : '-' }}</td>
                    <td>{{ animal.is_alive }}</td>
                    <td *ngIf="showNote"><input title="note" class="table-input" type="text" [(ngModel)]="animal.note" [disabled]="isSaving"></td>

                    <td *ngIf="showPedigreeData || showDates" title="{{ animal.date_of_birth  | date: 'dd-MM-yyyy @HH:mm:ss' }}"
                    >{{ animal.date_of_birth  | date: 'dd-MM-yyyy' }}</td>
                    <td *ngIf="showDates" title="{{ animal.date_of_death  | date: 'dd-MM-yyyy @HH:mm:ss' }}"
                    >{{ animal.date_of_death  | date: 'dd-MM-yyyy' }}</td>

                    <td *ngIf="showPedigreeData">{{ animal.pedigree_register ? animal.pedigree_register.abbreviation : '-' }}</td>
                    <td *ngIf="showPedigreeData">{{ animal.parent_father ?
                        animal.parent_father.uln_country_code + animal.parent_father.uln_number : '-'}}</td>
                    <td *ngIf="showPedigreeData">{{ animal.parent_mother ?
                        animal.parent_mother.uln_country_code + animal.parent_mother.uln_number : '-'}}</td>
                    <td *ngIf="showPedigreeData || showBreedData">{{ animal.litter ? animal.litter.born_alive_count + animal.litter.stillborn_count : '-' }}</td>
                    <td *ngIf="showPedigreeData"><input title="ubnOfBirth" class="table-input" type="number" [(ngModel)]="animal.ubn_of_birth" [disabled]="isSaving"></td>
                    <td *ngIf="showPedigreeData">{{ animal.location_of_birth ? animal.location_of_birth.ubn : '-' }}</td>
                    <td *ngIf="showPedigreeData">{{ animal.surrogate ?
                        animal.surrogate.uln_country_code + animal.surrogate.uln_number : '-'}}</td>
                    <td *ngIf="showPedigreeData">{{ animal.lambar }}</td>

                    <td *ngIf="showPedigreeData">
                        <select
                                title="birthProgress"
                                class="table-input birth-progress-input"
                                [(ngModel)]="animal.birth_progress"
                                [disabled]="isSaving">
                            <option [value]=""> </option>
                            <option *ngFor="let birthProgressType of birthProgressTypes" value="{{ birthProgressType }}"
                            >{{ birthProgressType | translate }}</option>
                        </select>
                    </td>

                    <td *ngIf="showBreedData">
                        <select
                                type="breedType"
                                class="table-input breed-type-input"
                                [(ngModel)]="animal.breed_type"
                                [disabled]="isSaving">
                            <option [value]=""> </option>
                            <option *ngFor="let breedType of breedTypes" value="{{ breedType }}"
                            >{{ breedType | translate }}</option>
                        </select>
                    </td>

                    <td *ngIf="showBreedData"><input title="breedCode" class="table-input" type="text" [(ngModel)]="animal.breed_code" [disabled]="isSaving"></td>
                    <td *ngIf="showExaminationData"><input title="predicate" class="table-input" type="text" [(ngModel)]="animal.predicate" [disabled]="isSaving"></td>
                    <td *ngIf="showExaminationData"><input title="predicateScore" class="table-input" type="number" [(ngModel)]="animal.predicate_score" [disabled]="isSaving"></td>
                    <td *ngIf="showHealthData"><input title="scrapieGenotype" class="table-input" type="text" [(ngModel)]="animal.scrapie_genotype" [disabled]="isSaving"></td>
                    <td *ngIf="showHealthData"><input title="blindnessFactor" class="table-input" type="text" [(ngModel)]="animal.blindness_factor" [disabled]="isSaving"></td>
                    <td *ngIf="showHealthData"><input title="myoMax" class="table-input" type="text" [(ngModel)]="animal.myo_max" [disabled]="isSaving"></td>

                    <td>
                        <app-uln-input
                                [ulnCountryCode]="animal.uln_country_code"
                                (ulnCountryCodeChange)="animal.uln_country_code=$event"
                                [ulnNumber]="animal.uln_number"
                                (ulnNumberChange)="animal.uln_number=$event"
                                [disabled]="isSaving || !allowUlnEdit"
                                [updateInitialValues]="(initialValuesChanged)"
                        ></app-uln-input>
                    </td>
                    <!--<td>-->
                            <!--<span *ngIf="admin.email_address != superAdminDetails?.email" class="pull-right overview-controls">-->
                                <!--<a (click)="openModal(true, admin)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>-->
                                <!--<a (click)="openRemoveModal(admin)" class="remove-button"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>-->
                            <!--</span>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </ng-template>

<app-start-input-modal
        [displayModal]="displayStartInputModal"
        (inputDataRequested)="getAnimals($event)"
        (closedModal)="displayStartInputModal = 'none'"
></app-start-input-modal>
<!--&lt;!&ndash;ADD REASON MODAL&ndash;&gt;-->
<!--<div class="reveal-overlay" [ngStyle]="{'display': displayModal}">-->
    <!--<div class="tiny reveal" [ngStyle]="{'display': displayModal}">-->
        <!--<div class="modal-header">-->
            <!--<span *ngIf="!isModalEditMode">{{ 'NEW ADMIN' | translate }}</span>-->
            <!--<span *ngIf="isModalEditMode">{{ 'EDIT ADMIN' | translate }}</span>-->
            <!--<button type="button" class="pull-right" aria-label="Close modal" (click)="closeModal()">-->
                <!--<i class="fa fa-times" aria-hidden="true"></i>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div [formGroup]="form" class="modal-body">-->
            <!--<div class="row">-->
                <!--<div class="large-4 columns">-->
                    <!--<label class="middle"> {{ 'E-MAIL ADDRESS' | translate }} * </label>-->
                <!--</div>-->
                <!--<div class="large-8 columns">-->
                    <!--<input type="text" [(ngModel)]="admin.email_address" formControlName="email_address" maxlength="50" (keydown)="resetValidation()">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="large-4 columns">-->
                    <!--<label class="middle"> {{ 'FIRST NAME' | translate }} * </label>-->
                <!--</div>-->
                <!--<div class="large-8 columns">-->
                    <!--<input type="text" [(ngModel)]="admin.first_name" formControlName="first_name" maxlength="50" (keydown)="resetValidation()">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="large-4 columns">-->
                    <!--<label class="middle"> {{ 'LAST NAME' | translate }} * </label>-->
                <!--</div>-->
                <!--<div class="large-8 columns">-->
                    <!--<input type="text" [(ngModel)]="admin.last_name" formControlName="last_name" maxlength="50" (keydown)="resetValidation()">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="large-4 columns">-->
                    <!--<label class="middle"> {{ 'ACCESS LEVEL' | translate }} * </label>-->
                <!--</div>-->
                <!--<div class="large-8 columns">-->
                    <!--<select [(ngModel)]="admin.access_level" formControlName="type" (change)="resetValidation()">-->
                        <!--<option value="">&#45;&#45;</option>-->
                        <!--<option value="ADMIN">{{ 'ADMIN' | translate}}</option>-->
                        <!--<option value="SUPER_ADMIN">{{ 'SUPER_ADMIN' | translate}}</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<div class="row">-->
                <!--<div class="large-12 columns">-->
                    <!--<span class="pull-right required-description"> * {{ 'IS A REQUIRED FIELD' | translate }} </span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<span class="pull-left">-->
                <!--<label *ngIf="!hasUniqueEmails" class="input-error-msg">{{ 'E-MAIL ADDRESS IS NOT UNIQUE' | translate }}</label>-->
                <!--<label *ngIf="!isValidForm" class="input-error-msg">{{ 'FILL IN ALL THE REQUIRED FIELDS' | translate }}</label>-->
                <!--<label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>-->
            <!--</span>-->
            <!--<span class="pull-right">-->
                <!--<button *ngIf="!isModalEditMode" [isActive]="isProcessing" (click)="addAdmin()" class="tiny primary button">-->
                    <!--<span *ngIf="!isProcessing">-->
                        <!--{{ 'ADD' | translate}}-->
                    <!--</span>-->
                    <!--<span *ngIf="isProcessing">-->
                        <!--<i class="fa fa-gear fa-spin fa-fw"></i>-->
                    <!--</span>-->
                <!--</button>-->
                <!--<button *ngIf="isModalEditMode" [isActive]="isProcessing" (click)="editAdmin()" class="tiny primary button">-->
                    <!--<span *ngIf="!isProcessing">-->
                        <!--{{ 'EDIT' | translate}}-->
                    <!--</span>-->
                    <!--<span *ngIf="isProcessing">-->
                        <!--<i class="fa fa-gear fa-spin fa-fw"></i>-->
                    <!--</span>-->
                <!--</button>-->
                <!--<button (click)="closeModal()" [isActive]="isProcessing" class="tiny alert button">{{ 'CANCEL' | translate}}</button>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;REMOVE MODAL&ndash;&gt;-->
<!--<div class="reveal-overlay" [ngStyle]="{'display': displayModal}">-->
    <!--<div class="tiny reveal" [ngStyle]="{'display': displayModal}">-->
        <!--<div class="modal-header">-->
            <!--{{ 'REMOVE ADMIN' | translate }}-->
            <!--<button type="button" (click)="closeRemoveModal()" class="pull-right" aria-label="Close modal">-->
                <!--<i class="fa fa-times" aria-hidden="true"></i>-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REMOVE THIS ADMIN' | translate }} </div>-->
        <!--<div class="modal-footer">-->
            <!--<span class="pull-left">-->
                <!--<label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>-->
            <!--</span>-->
            <!--<span class="pull-right">-->
            <!--<button class="tiny alert button" [isActive]="isProcessing" (click)="removeAdmin()">-->
                <!--<span *ngIf="!isProcessing">-->
                    <!--{{ 'REMOVE' | translate}}-->
                <!--</span>-->
                <!--<span *ngIf="isProcessing">-->
                    <!--<i class="fa fa-gear fa-spin fa-fw"></i>-->
                <!--</span>-->
            <!--</button>-->
            <!--<button class="tiny primary button" [isActive]="isProcessing" (click)="closeRemoveModal()">{{ 'CANCEL' | translate}}</button>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</div>