<table>
    <thead>
    <tr>
        <td> {{ 'UBN' | translate }} </td>
        <td> {{ 'NAME' | translate }} </td>
        <td> {{ 'ORDER NUMBER' | translate }} </td>
        <td> {{ 'INSPECTION' | translate }} </td>
        <td> {{ 'REQUEST DATE' | translate }} </td>
        <td> {{ 'START DATE' | translate }} </td>
        <td> {{ 'NEXT ACTION' | translate }} </td>
        <td> {{ 'LAST ACTION TAKEN BY' | translate }} </td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inspection of _toReceiveLabResults">
        <td>{{ inspection?.location?.ubn }}</td>
        <td>{{ inspection?.location?.first_name }} {{ inspection?.location?.last_name }}</td>
        <td>{{ inspection?.order_number }}</td>
        <td>{{ inspection?.illness_type | translate }}</td>
        <td>
            <span *ngIf="inspection?.request_date">
                {{ settings.convertToViewDate(inspection?.request_date) }}
            </span>
            <span *ngIf="!inspection?.request_date">
                --
            </span>
        </td>
        <td>
            {{ settings.convertToViewDate(inspection?.date_started) }}
        </td>
        <td>
            {{ 'RECEIVE LABRESULTS' | translate }}
        </td>
        <td>
            {{ inspection.action_log.action_by.first_name }} {{ inspection.action_log.action_by.last_name }}
        </td>
        <td>
            <span class="pull-right">
                <button type="button" (click)="cancelInspection(inspection)" class="small alert button">
                    <i *ngIf="_isLoading" class="fa fa-gear fa-spin fa-fw"></i>
                    <span *ngIf="!_isLoading">
                        {{ 'CANCEL INSPECTION' | translate }}
                    </span>
                </button>
            </span>
        </td>
    </tr>
    </tbody>
</table>
