<!--TOP NAVIGATION BAR-->
<nav>
    <button type="button" (click)="toggleSideMenu()" [class.active]="isActiveSideMenu" class="menu-toggle">
        <i class="fa fa-bars"></i>
    </button>
    <a routerLink="/dashboard" class="brand-name"> NSFO <span>Online</span></a>
    <span class="subtitle">{{'ADMIN'}}</span>
    <div class="empty-block"></div>
    <button type="button" (click)="toggleUserMenu()" [class.active]="isActiveUserMenu" class="profile-toggle">
        <i class="fa fa-user"><span class="show-for-large"> {{ admin.first_name }} {{ admin.last_name }} </span></i>
    </button>
</nav>

<!--SIDE MENU-->
<div class="side-menu" [class.enabled]="isActiveSideMenu">
    <ul (click)="closeAllMenus()">
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>
                {{ 'DASHBOARD' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/health" routerLinkActive="active">
                <i class="fa fa-medkit fa-fw" aria-hidden="true"></i>
                {{ 'ANIMAL HEALTH' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/client" routerLinkActive="active">
                <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                {{ 'CLIENTS' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/invoice" routerLinkActive="active">
                <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                {{ 'INVOICES' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/configuration" routerLinkActive="active">
                <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
                {{ 'CONFIGURATIONS' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/log" routerLinkActive="active">
                <i class="fa fa-history fa-fw" aria-hidden="true"></i>
                {{ 'TECHNICAL LOG' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                {{ 'PROFILE' | translate }}
            </a>
        </li>
    </ul>
</div>

<!--USER MENU-->
<div class="user-menu" [class.enabled]="isActiveUserMenu">
    <a routerLink="/profile" routerLinkActive="active" (click)="closeAllMenus()">{{ 'PROFILE' | translate }} <i class="fa fa-user fa-fw" aria-hidden="true"></i></a>
    <a (click)="logout()">{{ 'LOGOUT' | translate }} <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></a>
</div>

<!-- CONTENT CONTAINER -->
<div class="content-container">
    <router-outlet></router-outlet>
</div>