@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
select {
  padding-top: 0;
  padding-bottom: 0; }

input:disabled:hover,
select:disabled:hover,
button:disabled:hover,
textarea:disabled:hover {
  cursor: default; }

.content-container {
  padding: 5em 2em 0 2em;
  font-family: "Lato", sans-serif; }

.input-error-border {
  border-color: #EC5840; }

nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #48A770;
  align-items: center;
  font-family: "Lato", sans-serif !important;
  z-index: 10000; }
  nav .subtitle {
    margin-top: -0.4em;
    padding-left: 0.4em;
    color: #EADD69;
    font-size: 0.7em;
    font-weight: 900; }
  nav button {
    background-color: transparent;
    color: #FFF;
    border: none;
    height: 100%; }
    nav button.active {
      background-color: #155932; }
    nav button:hover {
      background-color: #155932; }
    nav button:focus {
      outline: none; }
    nav button.menu-toggle {
      font-size: 1.8em;
      padding: 0.4rem 0.5em; }
    nav button.profile-toggle {
      font-size: 1.2em;
      padding: 0.7rem 0.5em; }
      nav button.profile-toggle span {
        margin-left: 0.3em;
        font-family: "Lato", sans-serif;
        font-size: 0.65em; }
  nav .brand-name {
    padding-left: 0.4em;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 900; }
    nav .brand-name span {
      font-weight: 400; }
    nav .brand-name:hover {
      cursor: pointer; }
  nav .empty-block {
    flex: 1; }

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 9999;
  left: -250px;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  padding-top: 4em;
  transition: 0.5s;
  font-family: "Lato", sans-serif; }
  .side-menu.enabled {
    left: 0; }
  .side-menu ul {
    padding: 1em 0 1em 0.2em; }
    .side-menu ul li {
      list-style: none;
      font-size: 1em; }
      .side-menu ul li a {
        display: block;
        color: #FFF;
        padding: 0.4em 0 0.4em 0.4em;
        width: 100%;
        transition: 0.5s; }
        .side-menu ul li a:hover {
          background-color: #48A770; }
        .side-menu ul li a.active {
          background-color: #48A770; }

.user-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  right: 0;
  top: -200px;
  transition: 0.5s;
  z-index: 9999;
  text-align: right;
  border-bottom: 4px solid #57CD8A;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .user-menu.enabled {
    top: 40px; }
  .user-menu a {
    padding: 0.5em 0.5em 0.5em 2em;
    display: block;
    color: #FFF;
    font-size: 0.85em;
    width: 100%; }
    .user-menu a i {
      font-size: 0.9em;
      margin-left: 0.4em; }
    .user-menu a:hover {
      background-color: #48A770; }

#client .page-header .page-title {
  display: inline-block;
  color: rgba(72, 167, 112, 0.5);
  font-size: 2em;
  font-weight: 900; }

#client .table-options-container {
  padding: 1em 0; }
  #client .table-options-container label {
    font-weight: 700;
    font-size: 0.8em; }
    #client .table-options-container label.category {
      font-weight: 900; }
    #client .table-options-container label input {
      font-weight: 400;
      font-size: 1em; }
    #client .table-options-container label select {
      font-weight: 400;
      font-size: 1em; }
    #client .table-options-container label button {
      font-weight: 400;
      font-size: 1em; }

#client .dossier-client-info {
  font-size: 0.7rem; }
  #client .dossier-client-info label {
    font-size: 1em; }
    #client .dossier-client-info label.category {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      margin-top: 0.5em; }
  #client .dossier-client-info input, #client .dossier-client-info select, #client .dossier-client-info textarea {
    font-size: 1em; }

#client .dossier-table {
  font-size: 0.7rem; }
  #client .dossier-table label {
    font-size: 1em; }
    #client .dossier-table label.category {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      margin-top: 0.5em; }
  #client .dossier-table table {
    font-size: 1em; }
    #client .dossier-table table tbody {
      font-weight: 400; }
      #client .dossier-table table tbody .boolean {
        font-size: 1.1em; }
        #client .dossier-table table tbody .boolean .fa-check {
          color: #48A770; }
        #client .dossier-table table tbody .boolean .fa-times {
          color: #EC5840; }
      #client .dossier-table table tbody a {
        font-size: 1.5em; }
        #client .dossier-table table tbody a.remove-button {
          color: #EC5840; }
          #client .dossier-table table tbody a.remove-button:hover {
            color: #a3422d; }

#client .reveal .modal-header {
  background-color: #48A770;
  padding: 0.5em;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400; }
  #client .reveal .modal-header button {
    padding-top: 0.2em; }

#client .reveal .modal-body {
  padding-top: 1em;
  font-size: 0.7rem; }
  #client .reveal .modal-body label {
    font-size: 1em; }
  #client .reveal .modal-body input, #client .reveal .modal-body select {
    font-size: 1em; }

#client .reveal .file-picker input[type='file'] {
  display: none; }

#client .reveal .modal-footer .required-description {
  font-size: 0.6rem;
  margin-top: -1em;
  padding-bottom: 2em; }

#client table {
  font-size: 0.8em; }
  #client table .label {
    padding: 0.6em;
    font-weight: 900;
    font-size: 0.95em;
    border-radius: 5px; }
    #client table .label i {
      font-size: 0.95em; }
  #client table button {
    margin: 0;
    padding: 0.6em;
    font-weight: 700;
    font-size: 0.95em; }
  #client table .dropdown-pane {
    padding: 0.5em;
    width: 150px; }
    #client table .dropdown-pane ul {
      list-style: none;
      text-align: right;
      font-size: 0.85em;
      margin: 0; }
      #client table .dropdown-pane ul li a {
        display: block;
        color: #2c2c2c;
        width: 100%; }
        #client table .dropdown-pane ul li a:hover {
          background-color: #48A770;
          color: #FFF; }
        #client table .dropdown-pane ul li a.danger:hover {
          color: #EC5840;
          font-weight: 700; }
      #client table .dropdown-pane ul li i {
        margin-left: 0.5em; }

#client .client-info-overview {
  padding: 0.8em;
  background-color: #F0F0F0;
  font-size: 0.7em;
  margin-bottom: 0.5em; }
  #client .client-info-overview .general {
    font-size: 1.2em;
    font-weight: 700; }
  #client .client-info-overview label {
    font-size: 1em;
    font-weight: 700;
    padding-top: 1em; }
  #client .client-info-overview table {
    font-size: 1em; }

#client .table-title label {
  font-size: 0.8em;
  font-weight: 700; }
  #client .table-title label span {
    font-weight: 400;
    font-size: 0.9em; }

#client .client-info-table {
  font-size: 0.7em; }
  #client .client-info-table a.icon-link i {
    font-size: 1.5em; }

#client .notes label {
  font-weight: 700;
  font-size: 0.8em; }

#client .notes textarea {
  font-size: 0.9em;
  font-weight: 400; }

#client .notes-table {
  font-size: 0.7em; }
  #client .notes-table .log-info {
    font-weight: 700;
    padding-bottom: 0.8em; }

#client label.error-message {
  font-size: 0.7rem;
  color: #EC5840;
  font-weight: 700;
  padding-top: 0.4em;
  margin: 0; }

.ng-datepicker-input {
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0; }

.ng-datepicker {
  position: absolute;
  z-index: 99;
  width: 175px;
  background: #fff;
  font-size: 0.7rem;
  color: #565a5c;
  display: inline-block;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin: 0;
  padding: 0; }
  .ng-datepicker .controls {
    width: 175px;
    display: inline-block;
    padding: 5px 0 0 0; }
    .ng-datepicker .controls .left {
      width: 35px;
      display: inline-block;
      float: left;
      margin: 5px 0 0 3px;
      padding-left: 6px; }
      .ng-datepicker .controls .left i {
        font-size: 0.85em;
        cursor: pointer; }
        .ng-datepicker .controls .left i.prev-year-btn {
          margin-right: 10px; }
        .ng-datepicker .controls .left i.prev-month-btn {
          margin-top: 1px; }
    .ng-datepicker .controls .right {
      width: 35px;
      display: inline-block;
      float: right;
      margin: 5px 0 0 0;
      padding-right: 10px;
      text-align: right; }
      .ng-datepicker .controls .right i {
        font-size: 0.85em;
        cursor: pointer; }
        .ng-datepicker .controls .right i.next-month-btn {
          margin-top: 0.3em;
          float: left; }
    .ng-datepicker .controls .date {
      width: 95px;
      text-align: center;
      font-size: 1em;
      color: #565a5c;
      font-weight: bold;
      float: left;
      padding: 0.5em 0 0 0; }
  .ng-datepicker .day-names {
    width: 174.5px;
    font-size: 0.75em;
    border-bottom: 1px solid #c4c4c4;
    display: inline-block; }
    .ng-datepicker .day-names span {
      width: 24.8px;
      text-align: center;
      color: #82888a;
      float: left;
      display: block; }
  .ng-datepicker .calendar {
    width: 175px;
    display: inline-block;
    margin: -5px 0 -5.5px -1px;
    padding: 0; }
    .ng-datepicker .calendar span .day {
      width: 25px;
      height: 25px;
      border-left: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      float: left;
      display: block;
      color: #565a5c;
      text-align: center;
      font-weight: bold;
      line-height: 25px;
      margin: 0;
      padding: 0;
      font-size: 0.85em;
      cursor: pointer; }
      .ng-datepicker .calendar span .day:hover {
        background: #2193b0;
        color: #fff; }
      .ng-datepicker .calendar span .day .selected {
        background: #186c81;
        cursor: default;
        pointer-events: none;
        color: #fff; }
    .ng-datepicker .calendar span .disabled {
      border-left: 1px solid transparent;
      cursor: default;
      pointer-events: none; }
    .ng-datepicker .calendar span:last-child .day {
      width: 26px;
      border-right: 1px solid #c4c4c4; }
    .ng-datepicker .calendar span:nth-child(7n) span .day {
      border-right: none; }
  .ng-datepicker .static {
    position: relative;
    width: 100%;
    box-sizing: border-box; }
    .ng-datepicker .static .controls {
      width: 100%;
      text-align: center;
      background-color: #eee;
      padding: 5px 0; }
      .ng-datepicker .static .controls .left i .prev-month-btn {
        margin-top: -6px; }
      .ng-datepicker .static .controls span .date {
        width: auto;
        float: none;
        display: inline-block;
        padding-top: 4px; }
      .ng-datepicker .static .controls .day-names {
        width: 100%;
        background-color: #f9f9f9; }
        .ng-datepicker .static .controls .day-names span {
          width: calc(100%/7); }
    .ng-datepicker .static .calendar {
      width: 100%; }
      .ng-datepicker .static .calendar span .day {
        width: calc(100%/7 - 1px);
        height: 50px;
        line-height: 50px; }
