@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
select {
  padding-top: 0;
  padding-bottom: 0; }

input:disabled:hover {
  cursor: default; }

.content-container {
  padding: 5em 2em 0 2em;
  font-family: "Lato", sans-serif; }

nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #48A770;
  align-items: center;
  font-family: "Lato", sans-serif !important;
  z-index: 10000; }
  nav .subtitle {
    margin-top: -0.4em;
    padding-left: 0.4em;
    color: #EADD69;
    font-size: 0.7em;
    font-weight: 900; }
  nav button {
    background-color: transparent;
    color: #FFF;
    border: none;
    height: 100%; }
    nav button.active {
      background-color: #155932; }
    nav button:hover {
      background-color: #155932; }
    nav button:focus {
      outline: none; }
    nav button.menu-toggle {
      font-size: 1.8em;
      padding: 0.4rem 0.5em; }
    nav button.profile-toggle {
      font-size: 1.2em;
      padding: 0.7rem 0.5em; }
      nav button.profile-toggle span {
        margin-left: 0.3em;
        font-family: "Lato", sans-serif;
        font-size: 0.65em; }
  nav .brand-name {
    padding-left: 0.4em;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 900; }
    nav .brand-name span {
      font-weight: 400; }
    nav .brand-name:hover {
      cursor: pointer; }
  nav .empty-block {
    flex: 1; }

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 9999;
  left: -250px;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  padding-top: 4em;
  transition: 0.5s;
  font-family: "Lato", sans-serif; }
  .side-menu.enabled {
    left: 0; }
  .side-menu ul {
    padding: 1em 0 1em 0.2em; }
    .side-menu ul li {
      list-style: none;
      font-size: 1em; }
      .side-menu ul li a {
        display: block;
        color: #FFF;
        padding: 0.4em 0 0.4em 0.4em;
        width: 100%;
        transition: 0.5s; }
        .side-menu ul li a:hover {
          background-color: #48A770; }
        .side-menu ul li a.active {
          background-color: #48A770; }

.user-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  right: 0;
  top: -200px;
  transition: 0.5s;
  z-index: 9999;
  text-align: right;
  border-bottom: 4px solid #57CD8A;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .user-menu.enabled {
    top: 40px; }
  .user-menu a {
    padding: 0.5em 0.5em 0.5em 2em;
    display: block;
    color: #FFF;
    font-size: 0.85em;
    width: 100%; }
    .user-menu a i {
      font-size: 0.9em;
      margin-left: 0.4em; }
    .user-menu a:hover {
      background-color: #48A770; }

#client .page-header .page-title {
  display: inline-block;
  color: rgba(72, 167, 112, 0.5);
  font-size: 2em;
  font-weight: 900; }

#client .table-options-container {
  padding: 1em 0; }
  #client .table-options-container label {
    font-weight: 700;
    font-size: 0.8em; }
    #client .table-options-container label.category {
      font-weight: 900; }
    #client .table-options-container label input {
      font-weight: 400;
      font-size: 1em; }
    #client .table-options-container label select {
      font-weight: 400;
      font-size: 1em; }
    #client .table-options-container label button {
      font-weight: 400;
      font-size: 1em; }

#client .client-info input, #client .client-info select {
  font-size: 0.85em; }

#client .client-info label {
  font-weight: 400;
  font-size: 0.8em; }
  #client .client-info label.category {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    margin-top: 0.4em; }
    #client .client-info label.category textarea {
      font-size: 1em;
      font-weight: 400; }

#client .client-info table td a {
  font-size: 1.5em; }
  #client .client-info table td a.remove-button {
    color: #EC5840; }
    #client .client-info table td a.remove-button:hover {
      color: #a3422d; }

#client .client-info .file-picker {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  #client .client-info .file-picker a {
    color: #EC5840; }
    #client .client-info .file-picker a:hover {
      color: #a3422d; }
  #client .client-info .file-picker input {
    margin-bottom: 0; }

#client table {
  font-size: 0.8em; }
  #client table .label {
    padding: 0.6em;
    font-weight: 900;
    font-size: 0.95em;
    border-radius: 5px; }
    #client table .label i {
      font-size: 0.95em; }
  #client table button {
    margin: 0;
    padding: 0.6em;
    font-weight: 700;
    font-size: 0.95em; }
  #client table .dropdown-pane {
    padding: 0.5em;
    width: 150px; }
    #client table .dropdown-pane ul {
      list-style: none;
      text-align: right;
      font-size: 0.85em;
      margin: 0; }
      #client table .dropdown-pane ul li a {
        display: block;
        color: #2c2c2c;
        width: 100%; }
        #client table .dropdown-pane ul li a:hover {
          background-color: #48A770;
          color: #FFF; }
        #client table .dropdown-pane ul li a.danger:hover {
          color: red;
          font-weight: 700; }
      #client table .dropdown-pane ul li i {
        margin-left: 0.5em; }

#client .client-info-overview {
  padding: 0.8em;
  background-color: #F0F0F0;
  font-size: 0.7em;
  margin-bottom: 0.5em; }
  #client .client-info-overview .general {
    font-size: 1.2em;
    font-weight: 700; }
  #client .client-info-overview label {
    font-size: 1em;
    font-weight: 700;
    padding-top: 1em; }
  #client .client-info-overview table {
    font-size: 1em; }

#client .table-title label {
  font-size: 0.8em;
  font-weight: 700; }
  #client .table-title label span {
    font-weight: 400;
    font-size: 0.9em; }

#client .client-info-table {
  font-size: 0.7em; }
  #client .client-info-table a.icon-link i {
    font-size: 1.5em; }

#client .notes label {
  font-weight: 700;
  font-size: 0.8em; }

#client .notes textarea {
  font-size: 0.9em;
  font-weight: 400; }

#client .notes-table {
  font-size: 0.7em; }
  #client .notes-table .log-info {
    font-weight: 700;
    padding-bottom: 0.8em; }
