<div class="page-header">
    <div class="page-title">{{ 'CLIENT INFORMATION' | translate }}</div>
</div>

<div class="row table-options-container">
    <div class="large-2 columns">
        <button (click)="navigateTo('/client')" class="small primary button expanded">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{ 'CLIENT OVERVIEW' | translate }}
        </button>
    </div>

    <div class="large-6 columns">
        <span class="pull-right">
            <button *ngIf="clientDetails.status && healthStatusses.length > 0" (click)="openUserModal()" class="small primary button">
                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                {{ 'LOGIN' | translate }}
            </button>

            <button (click)="navigateTo('/client/dossier/edit/' + clientId)" class="small primary button">
                <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
                {{ 'EDIT' | translate }}
            </button>

            <button *ngIf="clientDetails.status" (click)="setCompanyActive(false)" class="small alert button">
                <i class="fa fa-ban fa-fw" aria-hidden="true"></i>
                {{ 'DEACTIVATE' | translate }}
            </button>

            <button *ngIf="!clientDetails.status" (click)="setCompanyActive(true)" class="small alert button">
                <i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i>
                {{ 'ACTIVATE' | translate }}
            </button>
        </span>
    </div>
</div>


<div class="row">
    <div class="large-3 columns">
        <div class="client-info-overview">
            <div class="general">
                <div>{{ clientDetails.company_name }}</div>
                <div>{{ clientDetails.address.street_name + ' ' + clientDetails.address.address_number + ' ' + clientDetails.address.suffix }} </div>
                <div>{{ clientDetails.address.postal_code + ' ' + clientDetails.address.city }}</div>
            </div>

            <label>{{ 'TELEPHONE NUMBER' | translate }}</label>
            <div class="value">{{ clientDetails.telephone_number }}</div>

            <label>{{ 'PRIMARY CONTACT PERSON' | translate }}</label>
            <div class="value">{{ clientDetails.owner.prefix | translate }} {{ clientDetails.owner.first_name + ' ' + clientDetails.owner.last_name }}</div>
            <div class="value">{{ clientDetails.owner.email_address }}</div>

            <label>{{ 'STATUS' | translate }}</label>
            <div class="value">
                <span *ngIf="clientDetails.status">
                    {{ 'ACTIVE' | translate }}
                </span>
                  <span *ngIf="!clientDetails.status">
                    {{ 'NON-ACTIVE' | translate }}
                </span>
            </div>

            <label>{{ 'SUBSCRIPTION DATE' | translate }}</label>
            <div class="value">
                <span *ngIf="clientDetails.subscription_date">
                    {{ settings.convertToViewDate(clientDetails.subscription_date) }}
                </span>
                <span *ngIf="!clientDetails.subscription_date">
                    --
                </span>
            </div>
        </div>
        <div class="client-info-overview">
            <table>
                <thead>
                <tr>
                    <td>{{ 'AMOUNT AVAILABLE ANIMALS' | translate }}</td>
                    <td class="text-center">{{ 'RAM' | translate }}</td>
                    <td class="text-center">{{ 'EWE' | translate }}</td>
                    <td class="text-center">{{ 'NEUTER' | translate }}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>< 6 {{ 'MONTHS' | translate }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ram.less_6_months }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ewe.less_6_months }}</td>
                    <td class="text-center">{{ clientDetails.livestock.neuter.less_6_months }}</td>
                </tr>
                <tr>
                    <td>6 - 12 {{ 'MONTHS' | translate }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ram.between_6_12_months }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ewe.between_6_12_months }}</td>
                    <td class="text-center">{{ clientDetails.livestock.neuter.between_6_12_months }}</td>
                </tr>
                <tr>
                    <td> > 12 {{ 'MONTHS' | translate }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ram.greater_12_months }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ewe.greater_12_months }}</td>
                    <td class="text-center">{{ clientDetails.livestock.neuter.greater_12_months }}</td>
                </tr>
                <tr>
                    <td>{{ 'TOTAL' | translate }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ram.total }}</td>
                    <td class="text-center">{{ clientDetails.livestock.ewe.total }}</td>
                    <td class="text-center">{{ clientDetails.livestock.neuter.total }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="clientDetails.breeder_numbers.length > 0" class="client-info-overview">
            <table>
                <thead>
                    <tr>
                        <td colspan="2">{{ 'BREEDER NUMBERS' | translate }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let number of clientDetails.breeder_numbers">
                        <td>{{ number.number }}</td>
                        <td>{{ number.code }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="row">
            <div class="large-12 columns">
                <div class="table-title">
                    <label> {{ 'ANIMAL HEALTH' | translate }}  <span> ({{ 'STATUS PER LOCATION' | translate }}) </span></label>
                </div>

                <table class="client-info-table">
                    <thead>
                        <tr>
                            <td>{{ 'UBN' | translate }}</td>
                            <td>{{ 'MAEDI VISNA' | translate }}</td>
                            <td>{{ 'SCRAPIE' | translate }}</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="healthStatusses.length == 0">
                            <td colspan="4" class="text-center">{{ 'THERE ARE NO LOCATIONS' | translate }}</td>
                        </tr>
                        <tr *ngFor="let healthStatus of healthStatusses">
                            <td>
                                <span *ngIf="!healthStatus.ubn">--</span>
                                <span *ngIf="healthStatus.ubn">{{ healthStatus.ubn }}</span>
                            </td>
                            <td>
                                <span *ngIf="!healthStatus.maedi_visna_status">--</span>
                                <span *ngIf="healthStatus.maedi_visna_status">{{ healthStatus.maedi_visna_status | translate }}</span>
                            </td>
                            <td>
                                <span *ngIf="!healthStatus.scrapie_status">--</span>
                                <span *ngIf="healthStatus.scrapie_status">{{ healthStatus.scrapie_status | translate }}</span>
                            </td>
                            <td>
                                <span class="pull-right">
                                    <button type="button" (click)="openLocationHealthModal(healthStatus)" class="small primary button">
                                        {{ 'EDIT' | translate }}
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="table-title">
                    <label> {{ 'ANIMAL HEALTH' | translate }} <span> ({{ 'FINISHED INSPECTIONS' | translate }}) </span></label>
                </div>

                <table class="client-info-table">
                    <thead>
                    <tr>
                        <td>{{ 'UBN' | translate }}</td>
                        <td>{{ 'NAME' | translate }}</td>
                        <td>{{ 'INSPECTION' | translate }}</td>
                        <td>{{ 'REQUEST DATE' | translate }}</td>
                        <td>{{ 'DIRECTION DATE' | translate }}</td>
                        <td>{{ 'TOTAL LEAD TIME' | translate }}</td>
                        <td>{{ 'AUTHORIZED BY' | translate }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="clientDetails.invoices.length == 0">
                        <td colspan="7" class="text-center">{{ 'THERE ARE NO FINISHED INSPECTIONS' | translate }}</td>
                    </tr>
                    <tr *ngFor="let health of clientDetails.animal_health">
                        <td>{{ health.ubn }}</td>
                        <td>{{ health.name }}</td>
                        <td>{{ health.inspection | translate }}</td>
                        <td>{{ settings.convertToViewDate(health.request_date) }}</td>
                        <td>
                                <span *ngFor="let direction of health.directions">
                                    {{ direction.type  | translate }}: <br> {{ settings.convertToViewDate(direction.date)}} <br><br>
                                </span>
                        </td>
                        <td>{{ health.total_lead_time }}</td>
                        <td>{{ health.authorized_by }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="table-title">
                    <label> {{ 'INVOICES' | translate }} </label>
                </div>

                <table class="client-info-table">
                    <thead>
                        <tr>
                            <td>{{ 'INVOICE' | translate }} # </td>
                            <td>{{ 'INVOICE DATE' | translate }}</td>
                            <td>{{ 'STATUS' | translate }}</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="clientDetails.invoices.length == 0">
                            <td colspan="4" class="text-center">{{ 'THERE ARE NO INVOICES' | translate }}</td>
                        </tr>
                        <tr *ngFor="let invoice of clientDetails.invoices">
                            <td> {{ invoice.invoice_number }} </td>
                            <td> {{ settings.convertToViewDate(invoice.invoice_date) }} </td>
                            <td>
                                <span *ngIf="invoice.status == 'PAID'" class="success label">
                                    {{ invoice.status | translate }}
                                </span>
                                <span *ngIf="invoice.status == 'UNPAID'" class="alert label">
                                    {{ invoice.status | translate }}
                                </span>
                            </td>
                            <td>
                                <a class="icon-link" href="{{ invoice.pdf_url }}" target="_blank"><i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="large-3 columns">
        <div class="row">
            <div class="large-12 columns notes">
                <label>
                    {{ 'NOTES' | translate }}
                    <textarea [(ngModel)]="clientNote.message" rows="7"></textarea>
                </label>
                <button type="button" (click)="addClientNote()" [disabled]="isSavingNote" class="small primary button expanded">
                     <span *ngIf="!isSavingNote">
                        {{ 'SAVE' | translate }}
                    </span>
                    <span *ngIf="isSavingNote">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <table class="notes-table">
                    <tbody>
                        <tr *ngFor="let note of clientNotes">
                            <td>
                                <div class="row log-info">
                                    <div class="large-12 columns">
                                        <div class="pull-left"> {{ settings.convertToViewDateTime(note.creation_date) }} </div>
                                        <div class="pull-right">{{ 'BY' | translate }} {{ note.creator.first_name + ' ' + note.creator.last_name }} </div>
                                    </div>
                                </div>
                                {{ note.message }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--USER MODAL-->
<div class="reveal-overlay ghost-login-modal" [ngStyle]="{'display': userModalDisplay}">
    <div class="tiny reveal" [ngStyle]="{'display': userModalDisplay}">
        <div class="modal-header">
            {{ 'LOGIN AS' | translate }}
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeUserModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body">
            <table>
                <thead>
                <tr>
                    <td>{{ 'USER' | translate }}</td>
                    <td>{{ 'E-MAIL ADDRESS' | translate }}</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ clientDetails.owner.first_name + ' ' + clientDetails.owner.last_name }}</td>
                    <td>{{ clientDetails.owner.email_address }}</td>
                    <td>
                        <span class="pull-right">
                            <button type="button" (click)="loginAsGhost(clientDetails.owner.person_id)" class="small primary button">
                                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                                {{ 'LOGIN' |  translate}}
                            </button>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let user of clientDetails.users">
                    <td>
                        {{ user.first_name + ' ' + user.last_name }}
                    </td>
                    <td>
                        {{ user.email_address }}
                    </td>
                    <td>
                        <span class="pull-right">
                            <button type="button" (click)="loginAsGhost(user.person_id)" class="small primary button">
                                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                                {{ 'LOGIN' |  translate}}
                            </button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="tiny primary button pull-right" (click)="closeUserModal()">{{ 'CLOSE' | translate}}</button>
        </div>
    </div>
</div>

<!--HEALTH STATUS MODAL-->
<div class="reveal-overlay ghost-login-modal" [ngStyle]="{'display': locationHealthModalDisplay}">
    <div class="reveal" [ngStyle]="{'display': locationHealthModalDisplay}">
        <div class="modal-header">
            {{ 'UBN' | translate }}: {{ selectedLocation.ubn }}
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeLocationHealthModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-2 columns">
                            <label class="middle"> {{ 'MAEDI VISNA' | translate }} </label>
                        </div>
                        <div class="large-4 columns">
                            <select [(ngModel)]="selectedLocation.maedi_visna_status">
                                <option *ngFor="let healthStatus of maediVisnaStatusOptions" value="{{ healthStatus}}">
                                    {{ healthStatus| translate }}
                                </option>
                            </select>
                        </div>
                        <div class="large-2 columns">
                            <label class="middle text-right"> {{ 'DATE TILL' | translate }} </label>
                        </div>
                        <div class="large-4 columns end">
                            <datepicker [formCtrl]="form.controls['maedi_visna_check_date']" [initDate]="selectedLocation.maedi_visna_check_date" [viewFormat]="settings.getViewDateFormat()" [modelFormat]="settings.getModelDateTimeFormat()"></datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-2 columns">
                            <label class="middle"> {{ 'SCRAPIE' | translate }} </label>
                        </div>
                        <div class="large-4 columns">
                            <select [(ngModel)]="selectedLocation.scrapie_status">
                                <option *ngFor="let healthStatus of scrapieStatusOptions" value="{{ healthStatus }}">
                                    {{ healthStatus | translate }}
                                </option>
                            </select>
                        </div>
                        <div class="large-2 columns">
                            <label class="middle text-right"> {{ 'DATE SINCE' | translate }} </label>
                        </div>
                        <div class="large-4 columns end">
                            <datepicker [formCtrl]="form.controls['scrapie_check_date']" [initDate]="selectedLocation.scrapie_check_date" [viewFormat]="settings.getViewDateFormat()" [modelFormat]="settings.getModelDateTimeFormat()"></datepicker>
                        </div>
                    </div>
                    <div [formGroup]="form" class="row">
                        <div class="large-4 columns">
                            <label> {{ 'REASON OF CHANGE' | translate }}: {{'SCRAPIE' | translate}} </label>
                        </div>
                        <div class="large-8 columns">
                            <input formControlName="scrapie_reason_of_edit" type="text" maxlength="75">
                        </div>
                    </div>
                    <div [formGroup]="form" class="row">
                        <div class="large-4 columns">
                            <label> {{ 'REASON OF CHANGE' | translate }}: {{'MAEDI VISNA' | translate}} </label>
                        </div>
                        <div class="large-8 columns">
                            <input formControlName="maedi_visna_reason_of_edit" type="text" maxlength="75">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="pull-right">
                <button class="tiny primary button" [disabled]="isChangingLocationHealth" (click)="setLocationHealthStatus()">
                    <span *ngIf="!isChangingLocationHealth" (click)="setLocationHealthStatus()">
                        {{ 'EDIT' | translate}}
                    </span>
                     <span *ngIf="isChangingLocationHealth">
                         <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button class="tiny primary button" [disabled]="isChangingLocationHealth" (click)="closeLocationHealthModal(); cancelLocationHealth()">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>