<div id="auth-page">
    <span *ngIf="!isLoading && labResult.lab_results.length > 0">
        <div class="row">
            <div class="large-4 columns">
                <button type="button" (click)="goToOverviewPage()" class="small primary button">
                    <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i> {{ 'BACK TO OVERVIEW' | translate }}
                </button>
                <button type="button" (click)="saveLabResult()" class="small primary button">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> {{ 'SAVE LAB RESULT' | translate }}
                </button>
            </div>
            <div class="large-3 columns">
                <div *ngIf="labResult.illness == 'SCRAPIE'">
                    <strong>Scrapie Onderzoek</strong>
                    <br>
                    Referentie Nummer: {{ _inspection?.order_number }}
                    <br>
                    {{ 'CURRENT STATUS' | translate }}: {{ currentHStatus?.scrapie_status | translate }}
                    <br>
                    Sinds: {{ currentHStatus?.scrapie_check_date }}
                </div>
                <div *ngIf="labResult.illness == 'MAEDI VISNA'">
                    <strong>Zwoegerziekte Onderzoek</strong>
                    <br>
                    Referentie Nummer: {{ _inspection?.order_number }}
                    <br>
                    {{ 'CURRENT STATUS' | translate }}: {{ currentHStatus?.maedi_visna_status | translate }}
                    <br>
                    T/m: {{ currentHStatus?.maedi_visna_check_date }}
                </div>
            </div>
            <div class="large-3 columns">
                <br>
                {{ 'REQUIRED RESULTS COUNT' | translate }}: {{ _inspection?.required_animal_count }}
                <br>
                {{ 'RECEIVED RESULTS COUNT' | translate }}: {{ labResult.lab_results.length }}
            </div>

            <div class="large-2 columns">
                 <span class="label-ubn pull-right">
                    {{ 'UBN' | translate }}: {{ _inspection?.ubn }}
                </span>
            </div>
        </div>

        <div *ngFor="let lab_result_item of labResult.lab_results" class="callout">
            <div class="row result-container">
                <div class="large-2 columns">
                    <span class="header-label">{{ 'ULN' | translate }}:</span> {{ lab_result_item.animal.uln_country_code + lab_result_item.animal.uln_number }}
                </div>
                <div class="large-2 columns">
                    <span class="header-label">{{ 'DATE OF BIRTH' | translate }}:</span> {{ settings.convertToViewDate(lab_result_item.animal.date_of_birth) }}
                </div>

                <!-- SCRAPIE -->
                <div *ngIf="labResult.illness == 'SCRAPIE'" class="large-4 columns">
                    <span class="header-label">{{ 'MGX SAMPLE ID' | translate }}:</span>
                    <editable-component [(editableValue)]="lab_result_item.mgx_sample_id"></editable-component>
                    <!--{{ lab_result_item.mgx_sample_id }}-->
                </div>
                <div class="large-2 columns">
                    <span class="header-label">{{ 'RESULT DATE' | translate }}:</span>
                    {{ settings.convertToViewDate(lab_result_item.result_date) }}
                </div>
                <div class="large-2 columns end">
                    <span class="header-label">{{ 'RECEPTION DATE' | translate }}:</span>
                    {{ settings.convertToViewDate(lab_result_item.reception_date) }}
                </div>
            </div>

            <!-- ONLY FOR SCRAPIE -->
            <div *ngIf="labResult.illness == 'SCRAPIE'" class="row value-container">
                <div class="large-2 columns">
                    <strong>{{ 'GENOTYPE' | translate }}:</strong>
                    <editable-component [(editableValue)]="lab_result_item.genotype"></editable-component>
                </div>
                <div class="large-2 columns">
                    <strong>{{ 'GENOTYPE CLASS' | translate }}:</strong>
                    <editable-component [(editableValue)]="lab_result_item.genotype_class"></editable-component>
                </div>
                <div class="large-3 columns end">
                    <strong>{{ 'GENOTYPE WITH CONDON 141' | translate }}: </strong>
                    <editable-component [(editableValue)]="lab_result_item.genotype_with_codon_141"></editable-component>
                </div>
            </div>

            <!-- MAEDI VISNA (Zwoeger ziekte) -->
            <div *ngIf="labResult.illness == 'MAEDI VISNA'" class="row value-container">
                <div class="large-2 columns">
                    <strong>{{ 'SUB REF' | translate }}:</strong>
                    <editable-component [(editableValue)]="lab_result_item.sub_ref"></editable-component>
                </div>
                <div class="large-2 columns">
                    <strong>{{ 'MVNP' | translate }}:</strong>
                    <editable-component [(editableValue)]="lab_result_item.mvnp"></editable-component>
                </div>
                <div class="large-2 columns">
                    <strong>{{ 'MV_CAE POOL' | translate }}:</strong>
                    {{ lab_result_item.mv_cae_pool | translate }}
                </div>
                <div class="large-2 columns">
                    <strong>{{ 'MV_CAE IRA' | translate }}:</strong>
                    {{ lab_result_item.mv_cae_ira | translate }}
                </div>
                <div class="large-2 columns">
                    <strong>{{ 'MV_CAEID' | translate }}: </strong>
                    {{ lab_result_item.mv_caegid | translate }}
                </div>
                <div class="large-2 columns end">
                    <strong>{{ 'VET NAME' | translate }}: </strong>
                    <!--<editable-component [(editableValue)]="lab_result_item?.veterinarian?.name"></editable-component>-->
                </div>
            </div>
        </div>
        <div [formGroup]="form" class="row auth-container">
            <div class="large-push-8 large-4 columns">
                <div class="row">
                    <div class="large-4 columns">
                        <label class="middle"> {{ 'STATUS' | translate }} </label>
                    </div>
                    <div class="large-8 columns">
                        <select *ngIf="_inspection?.illness_type == 'SCRAPIE'" [(ngModel)]="suggestedHealthStatus" [disabled]="foundHealthStatusSuggestion" formControlName="health_status">
                            <option value="FREE"> {{ 'FREE' | translate }} </option>
                            <option value="RESISTANT"> {{ 'RESISTANT' | translate }} </option>
                            <option value="UNDER OBSERVATION"> {{ 'UNDER OBSERVATION' | translate }} </option>
                            <option value="UNDER INVESTIGATION"> {{ 'UNDER INVESTIGATION' | translate }} </option>
                        </select>
                        <select *ngIf="_inspection?.inspection != 'SCRAPIE'" [(ngModel)]="suggestedHealthStatus" [disabled]="foundHealthStatusSuggestion" formControlName="health_status">
                            <option value="FREE (1 YEAR)"> {{ 'FREE (1 YEAR)' | translate }} </option>
                            <option value="FREE (2 YEAR)"> {{ 'FREE (2 YEAR)' | translate }} </option>
                            <option value="UNDER OBSERVATION"> {{ 'UNDER OBSERVATION' | translate }} </option>
                            <option value="UNDER INVESTIGATION"> {{ 'UNDER INVESTIGATION' | translate }} </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="_inspection?.illness_type == 'SCRAPIE'" class="row">
                    <div class="large-4 columns">
                        <label class="middle"> {{ 'DATE SINCE' | translate }} </label>
                    </div>
                    <div class="large-8 columns">
                        <datepicker [formCtrl]="form.controls['check_date']" [viewFormat]="settings.getViewDateFormat()" [modelFormat]="settings.getModelDateTimeFormat()"></datepicker>
                    </div>
                </div>
                <div *ngIf="_inspection?.illness_type == 'MAEDI VISNA'" class="row">
                    <div class="large-4 columns">
                        <label class="middle"> {{ 'DATE TILL' | translate }} </label>
                    </div>
                    <div class="large-8 columns">
                        <datepicker [formCtrl]="form.controls['check_date']" [viewFormat]="settings.getViewDateFormat()" [modelFormat]="settings.getModelDateTimeFormat()"></datepicker>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns"> &nbsp; </div>
                    <div class="large-8 columns">
                        <button type="button" (click)="authorizeInspection()" [disabled]="savingInProgress" class="small primary button expanded">
                            <span *ngIf="!savingInProgress">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                {{ 'AUTHORIZE' | translate }}
                            </span>
                            <span *ngIf="savingInProgress">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
    <span *ngIf="isLoading">
        <div class="callout">
            <div class="row value-container text-center">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </span>
</div>
