<div id="auth-page">
    <span *ngIf="results.length > 0">
        <button type="button" (click)="goToOverviewPage()" class="small primary button">
            <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i> {{ 'BACK TO OVERVIEW' | translate }}
        </button>
        <span class="label-ubn pull-right">
           {{ 'UBN' | translate }}: {{ request.ubn }}
        </span>
        <div *ngFor="let result of results" class="callout">
            <div class="row result-container">
                <div class="large-2 columns">
                    <span class="header-label">{{ 'ULN' | translate }}:</span> {{ result.uln_country_code + result.uln_number }}
                </div>
                <div class="large-2 columns">
                    <span class="header-label">{{ 'DATE OF BIRTH' | translate }}:</span> {{ settings.convertToViewDate(result.date_of_birth) }}
                </div>
                <div *ngIf="result.inspection_subject == 'SCRAPIE'" class="large-4 columns">
                    <span class="header-label">{{ 'MGX SAMPLE ID' | translate }}:</span> {{ result.mgx_sample_id }}
                </div>
                <div class="large-2 columns">
                    <span class="header-label">{{ 'RESULT DATE' | translate }}:</span> {{ settings.convertToViewDate(result.result_date) }}
                </div>
                <div class="large-2 columns end">
                    <span class="header-label">{{ 'RECEPTION DATE' | translate }}:</span> {{ settings.convertToViewDate(result.reception_date) }}
                </div>
            </div>
            <div *ngIf="result.inspection_subject == 'SCRAPIE'" class="row value-container">
                <div class="large-2 columns">
                    {{ 'GENOTYPE' | translate }}: {{ result.genotype }}
                </div>
                <div class="large-2 columns">
                    {{ 'GENOTYPE CLASS' | translate }}: {{ result.genotype_class }}
                </div>
                <div class="large-3 columns end">
                    {{ 'GENOTYPE WITH CONDON 141' | translate }}: {{ result.genotype_with_condon }}
                </div>
            </div>
            <div *ngIf="result.inspection_subject == 'MAEDI VISNA'" class="row value-container">
                <div class="large-2 columns">
                    {{ 'SUB REF' | translate }}: {{ result.sub_ref }}
                </div>
                <div class="large-2 columns">
                    {{ 'MVNP' | translate }}: {{ result.mvnp }}
                </div>
                <div class="large-2 columns">
                    {{ 'MV_CAE POOL' | translate }}: {{ result.mv_caepool }}
                </div>
                <div class="large-3 columns end">
                    {{ 'VET NAME' | translate }}: {{ result.vet_name }}
                </div>
            </div>
        </div>
        <div [formGroup]="form" class="row auth-container">
            <div class="large-push-8 large-4 columns">
                <div class="row">
                    <div class="large-4 columns">
                        <label class="middle"> {{ 'STATUS' | translate }} </label>
                    </div>
                    <div class="large-8 columns">
                        <select formControlName="health_status">
                            <option value="FREE"> {{ 'FREE' | translate }} </option>
                            <option *ngIf="request.inspection == 'SCRAPIE'" value="RESISTANT"> {{ 'RESISTANT' | translate }} </option>
                            <option *ngIf="request.inspection == 'MAEDI VISNA'" value="FREE (1 YEAR)"> {{ 'FREE (1 YEAR)' | translate }} </option>
                            <option *ngIf="request.inspection == 'MAEDI VISNA'" value="FREE (2 YEAR)"> {{ 'FREE (2 YEAR)' | translate }} </option>
                            <option *ngIf="request.inspection == 'MAEDI VISNA'" value="STATUS KNOWN BY AHD"> {{ 'STATUS KNOWN BY AHD' | translate }} </option>
                            <option value="UNDER OBSERVATION"> {{ 'UNDER OBSERVATION' | translate }} </option>
                            <option value="UNDER INVESTIGATION"> {{ 'UNDER INVESTIGATION' | translate }} </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="request.inspection == 'SCRAPIE'" class="row">
                    <div class="large-4 columns">
                        <label class="middle"> {{ 'DATE SINCE' | translate }} </label>
                    </div>
                    <div class="large-8 columns">
                        <datepicker [formCtrl]="form.controls['date_since']" [viewFormat]="settings.getViewDateFormat()" [modelFormat]="settings.getModelDateTimeFormat()"></datepicker>
                    </div>
                </div>
                <div *ngIf="request.inspection == 'MAEDI VISNA'" class="row">
                    <div class="large-4 columns">
                        <label class="middle"> {{ 'DATE TILL' | translate }} </label>
                    </div>
                    <div class="large-8 columns">
                        <datepicker [formCtrl]="form.controls['date_till']" [viewFormat]="settings.getViewDateFormat()" [modelFormat]="settings.getModelDateTimeFormat()"></datepicker>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns"> &nbsp; </div>
                    <div class="large-8 columns">
                        <button type="button" (click)="changeStatus()" [disabled]="savingInProgress" class="small primary button expanded">
                            <span *ngIf="!savingInProgress">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                {{ 'AUTHORIZE' | translate }}
                            </span>
                            <span *ngIf="savingInProgress">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>