<div id="nsfo-details" [formGroup]="form">
    <div class="row">
        <div class="large-2 columns">
            <label class="middle">{{ 'NAME' | translate }}</label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="invoiceSenderDetails.name" formControlName="name" value="{{invoiceSenderDetails.name}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'IBAN' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="invoiceSenderDetails.iban" formControlName="iban" maxlength="20" value="{{invoiceSenderDetails.iban}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'KVK NUMBER' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input [(ngModel)]="invoiceSenderDetails.chamber_of_commerce_number" type="text" formControlName="kvk_number" maxlength="20" value="{{invoiceSenderDetails.chamber_of_commerce_number}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'BTW NUMBER' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="invoiceSenderDetails.vat_number" formControlName="btw_number" maxlength="20" value="{{invoiceSenderDetails.vat_number}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'STREET NAME' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="senderAddress.street_name" formControlName="street_name" maxlength="30" value="{{senderAddress.street_name}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'STREET NUMBER' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="number" [(ngModel)]="senderAddress.address_number" formControlName="address_number"  maxlength="10" value="{{senderAddress.address_number}}" [max]="9999999999999" [min]="0">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'STREET NUMBER SUFFIX' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="senderAddress.address_number_suffix" formControlName="suffix" maxlength="10" value="{{senderAddress.suffix}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'POSTAL CODE' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="senderAddress.postal_code" formControlName="postal_code" maxlength="6" value="{{senderAddress.postal_code}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'CITY' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <input type="text" [(ngModel)]="senderAddress.city" formControlName="city" maxlength="50" value="{{senderAddress.city}}">
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'COUNTRY' | translate }} </label>
        </div>
        <div class="large-4 columns end">
            <app-country-selector
                    [includeResetButton]="false"
                    [countryName]="senderAddress.country"
                    (countryNameChange)="senderAddress.country = $event"
            ></app-country-selector>
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <label class="middle"> {{ 'PAYMENT DEADLINE' | translate }} ({{ 'DAYS' | translate }}) </label>
        </div>
        <div class="large-4 columns end">
            <input type="number" [(ngModel)]="invoiceSenderDetails.payment_deadline_in_days" formControlName="payment_deadline" max="730" min="0">
        </div>
    </div>
    <div class="row">
        <div class="large-push-2 large-4 columns">
            <app-spinner *ngIf="!invoiceSenderDetails"></app-spinner>
            <ng-template *ngIf="invoiceSenderDetails">
                <span class="pull-left">
                    <button [disabled]="isUpdating" (click)="CreateInvoiceSenderDetails()" class="tiny primary button">{{ 'SAVE' | translate }}</button>
                </span>
                <div class="pull-right">
                     <span *ngIf="!displayingSaveConfirmation" class="pull-left">
                        <button [disabled]="displayingSaveConfirmation" (click)="getInvoiceSenderDetails()" class="tiny alert button">{{ 'CANCEL' | translate }}</button>
                    </span>
                <span id="result-text"></span>
                </div>
            </ng-template>
        </div>
    </div>
</div>