<button
        class="button primary expanded"
        [disabled]="disabled"
        (click)="openModal()"
        style="white-space: nowrap;"
>
    {{ buttonText() | translate }}
</button>

<div class="reveal-overlay" [ngStyle]="{'display': displayModal}">
    <div class="medium reveal" [ngStyle]="{'display': displayModal}">
        <div class="modal-header">

            <div class="row table-options-container">
                <div class="large-8 columns">
                    <h4>{{ 'SELECT LEDGER CATEGORY' | translate }}</h4>
                </div>
                <div class="large-2 columns">
                    <span class="pull-right">
                        <button
                                class="small primary button"
                                [disabled]="disableEditOrInsertButton()"
                                (click)="clickOK()"
                        >{{ 'USE SELECTION' | translate}}</button>
                    </span>
                </div>
                <div class="large-2 columns end">
                    <span class="pull-right">
                        <button
                                class="small alert button"
                                (click)="clickCancel();"
                        >{{ 'CANCEL' | translate}}</button>
                    </span>
                </div>
            </div>

        </div>
        <div class="modal-body">

            <hr>

            <ng-template
                    *ngIf="selectedLedgerCategory != null"
            >
                <div class="row table-options-container">
                    <div class="large-10 columns">
                        <h5>
                            <span>{{ 'SELECT LEDGER CATEGORY' | translate }}: {{buttonText()}}</span>
                        </h5>
                    </div>
                    <!-- NOT IMPLEMENTED YET -->
                    <!--<div class="large-2 columns">-->
                        <!--<span class="pull-right">-->
                            <!--<button-->
                                    <!--class="button primary tiny"-->
                                    <!--[disabled]="selectedLedgerCategory == null"-->
                                    <!--(click)="navigateToEditSelectedLedgerCategory()"-->
                            <!--&gt;-->
                                <!--{{ 'EDIT' | translate }} <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                    <!--</div>-->
                </div>

                <hr>
            </ng-template>


            <div class="row table-options-container">
                <div class="large-2 columns end">
                    <label>
                        {{ 'SEARCH' | translate }}
                        <input type="text" [(ngModel)]="filterSearch" (keydown)="page = 1" placeholder="{{ 'SEARCH' | translate }}" maxlength="50">
                    </label>
                </div>
                <div class="large-2 columns end">
                    <label>
                        {{ 'DISPLAY AMOUNT' | translate }}
                        <select [(ngModel)]="filterAmount" (change)="page = 1">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                        </select>
                    </label>
                </div>
            </div>


            <div class="row">
                <div class="large-12 columns">
                    <table class="stack client-overview">
                        <thead>
                        <tr>
                            <td>{{ 'CODE' | translate }}</td>
                            <td>{{ 'DESCRIPTION' | translate }}</td>
                            <td *ngIf="!displayActiveStatus">{{ 'IS ACTIVE' | translate }}</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngIf="isLedgerCategoriesEmpty()">
                            <td colspan="10">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let ledgerCategory of getLedgerCategories() | ledgerCategorySearchPipe:getFilterOptions() | paginate: {itemsPerPage: filterAmount, currentPage: page}; let i = index">
                            <td>
                                <span *ngIf="ledgerCategory.code">{{ ledgerCategory.code }}</span>
                                <span *ngIf="!ledgerCategory.code">--</span>
                            </td>
                            <td>
                                <span *ngIf="ledgerCategory.description">{{ ledgerCategory.description }}</span>
                                <span *ngIf="!ledgerCategory.description">--</span>
                            </td>
                            <td *ngIf="!displayActiveStatus">
                                <app-check-mark
                                        *ngIf="ledgerCategory.isActive"
                                        [boolVal]="ledgerCategory.isActive"
                                ></app-check-mark>
                            </td>
                            <td>
                                <button type="button" class="tiny button primary float-right"
                                        (click)="selectLedgerCategory(ledgerCategory)">
                                    <span>
                                        {{ 'SELECT' | translate }}
                                    </span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <pagination (pageChange)="page = $event" [goToFirstPage]="(isLoadedEvent)"></pagination>
                </div>
            </div>

        </div>
        <div *ngIf="filterAmount > 15" class="modal-footer">

            <hr>

            <span class="pull-left">
                <button
                        class="tiny primary button"
                        [disabled]="disableEditOrInsertButton()"
                        (click)="clickOK()"
                >{{ 'USE SELECTION' | translate}}</button>
            </span>

            <span class="pull-right">
                <button
                        class="tiny alert button"
                        (click)="clickCancel();"
                >{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>