<div class="page-header">
    <div class="page-title">{{ 'CLIENT OVERVIEW' | translate }}</div>
</div>

<div class="row table-options-container">
    <div class="large-2 columns">
        <label>
            {{ 'SEARCH' | translate }}
            <input type="text" [(ngModel)]="filterSearch" placeholder="{{ 'SEARCH' | translate }}" maxlength="50">
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            {{ 'INVOICES' | translate }}
            <select [(ngModel)]="filterInvoices">
                <option value="ALL">{{ 'ALL' | translate }}</option>
                <option value="UNPAID INVOICES">{{ 'UNPAID INVOICES' | translate }}</option>
            </select>
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            {{ 'DISPLAY AMOUNT' | translate }}
            <select [(ngModel)]="filterAmount">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="9999999999">{{ 'ALL' | translate }}</option>
            </select>
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            &nbsp;
            <button class="medium primary button expanded">
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                {{ 'ADD CLIENT' | translate }}
            </button>
        </label>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <table class="stack">
            <thead>
                <tr>
                    <td>{{ 'UBN' | translate }}</td>
                    <td>{{ 'DEBTORS' | translate }} #</td>
                    <td>{{ 'LAST NAME' | translate }}</td>
                    <td>{{ 'PLACE' | translate }}</td>
                    <td>{{ 'SUBSCRIPTION DATE' | translate }}</td>
                    <td>{{ 'ANIMAL HEALTH' | translate }}</td>
                    <td>{{ 'PEDIGREE' | translate }}</td>
                    <td>{{ 'STATUS' | translate }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientList | clientFilter:[filterSearch, filterInvoices] | paginate: {itemsPerPage: filterAmount, currentPage: page}">
                    <td>{{ client.ubn }}</td>
                    <td>{{ client.debtor_number }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.place }}</td>
                    <td>{{ settings.convertToViewDate(client.subscription_date) }}</td>
                    <td>{{ client.animal_health | translate }}</td>
                    <td>
                        <div *ngFor="let pedigree of client.pedigree_list">
                            {{ pedigree }}<br>
                        </div>
                    </td>
                    <td>{{ client.status | translate }}</td>
                    <td>
                        <span *ngIf="client.unpaid_invoices == 1" class="alert label">
                            {{ client.unpaid_invoices }} <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                        </span>

                        <span *ngIf="client.unpaid_invoices > 1" class="alert label">
                            {{ client.unpaid_invoices }} <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="tiny dropdown button float-right" [attr.data-toggle]="'dropdown-' + client.client_id">{{ 'OPTIONS' | translate }}</button>
                        <div class="dropdown-pane bottom" id="dropdown-{{client.client_id}}" data-dropdown data-hover="true" data-hover-pane="true">
                            <ul>
                                <li>
                                    <a>{{ 'LOGIN' | translate }} <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a>{{ 'VIEW' | translate }} <i class="fa fa-info fa-fw" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a>{{ 'EDIT' | translate }} <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="danger">{{ 'DEACTIVATE' | translate }} <i class="fa fa-ban fa-fw" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination (pageChange)="page = $event"></pagination>
    </div>
</div>