<div class="page-header">
    <div class="page-title">{{ 'CLIENT OVERVIEW' | translate }}</div>
</div>

<div class="row table-options-container">
    <div class="large-2 columns">
        <label>
            {{ 'SEARCH' | translate }}
            <input type="text" [(ngModel)]="filterSearch" (keydown)="page = 1" placeholder="{{ 'SEARCH' | translate }}" maxlength="50">
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            {{ 'INVOICES' | translate }}
            <select [(ngModel)]="filterInvoices" (change)="page = 1">
                <option value="ALL">{{ 'ALL' | translate }}</option>
                <option value="UNPAID INVOICES">{{ 'UNPAID INVOICES' | translate }}</option>
            </select>
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            {{ 'DISPLAY AMOUNT' | translate }}
            <select [(ngModel)]="filterAmount" (change)="page = 1">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </label>
    </div>
    <div class="large-1 columns">
        <label>
            {{ 'COUNTRY' | translate }}
            <i class="fa fa-info-circle" aria-hidden="true"
               title="{{'INCLUDES COUNTRY DATA OF COMPANY AND ALL ACTIVE UBNS' | translate}}">
            </i>
            <select [(ngModel)]="filterCountryName" [disabled]="currentCountryNames.length === 0">
                <option value="ALL">{{ 'ALL' | translate }}</option>
                <option *ngFor="let countryName of currentCountryNames" value="{{ countryName }}">{{ countryName | countryNameToCountryCodePipe }}</option>
            </select>
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            &nbsp;
            <button (click)="navigateTo('/client/dossier/new')" class="medium primary button expanded">
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                {{ 'ADD CLIENT' | translate }}
            </button>
        </label>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <table class="stack client-overview">
            <thead>
                <tr>
                    <td *ngIf="isInvoicesActive">{{ 'DEBTORS' | translate }} #</td>
                    <td>{{ 'COMPANY NAME' | translate }}</td>
                    <td>{{ 'PLACE' | translate }}</td>
                    <td>{{ 'COUNTRY' | translate }}</td>
                    <td>{{ 'PRIMARY CONTACTPERSON' | translate }}</td>
                    <td>{{ 'UBN' | translate }}</td>
                    <td>{{ 'SUBSCRIPTION DATE' | translate }}</td>
                    <td>{{ 'ANIMAL HEALTH' | translate }}</td>
                    <td>{{ 'STATUS' | translate }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!isLoaded">
                    <td colspan="10">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let client of clientList | clientFilter:[filterSearch, filterInvoices, filterCountryName] | paginate: {itemsPerPage: filterAmount, currentPage: page}; let i = index">
                    <td *ngIf="isInvoicesActive">
                        <span *ngIf="client.debtor_number">{{ client.debtor_number }}</span>
                        <span *ngIf="!client.debtor_number">--</span>
                    </td>
                    <td>
                        <span *ngIf="client.company_name">{{ client.company_name }}</span>
                        <span *ngIf="!client.company_name">--</span>
                    </td>
                    <td>
                        <span *ngIf="client.address.city">{{ client.address.city }}</span>
                        <span *ngIf="!client.address.city">--</span>
                    </td>
                    <td>
                        <span *ngIf="client.address.country">{{ client.address.country | countryNameToCountryCodePipe: countryNameNullFiller}}</span>
                        <span *ngIf="!client.address.country">--</span>
                    </td>
                    <td>{{ client.owner.first_name }} {{ client.owner.last_name }}</td>
                    <td>
                        <span *ngIf="client.locations.length == 0">--</span>
                        <div *ngIf="client.locations.length > 0" *ngFor="let location of client.locations" >
                            {{ location }}
                            <span *ngIf="client.locations.length > 1">
                                <br>
                            </span>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="client.subscription_date">{{ settings.convertToViewDate(client.subscription_date.date) }}</span>
                        <span *ngIf="!client.subscription_date">--</span>
                    </td>
                    <td>
                        <app-check-mark [boolVal]="client.animal_health_subscription"></app-check-mark>
                    </td>
                    <td>
                        <span *ngIf="client.status">{{ 'ACTIVE' | translate }}</span>
                        <span *ngIf="!client.status">{{ 'NON-ACTIVE' | translate }}</span>
                    </td>
                    <td>
                        <span *ngIf="client.unpaid_invoices.length > 0" class="alert label">
                            {{ client.unpaid_invoices.length }} <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                        </span>
                    </td>
                    <td>
                        <button type="button" [disabled]="isSending" class="tiny dropdown button float-right" [attr.data-toggle]="'dropdown-' + client.company_id">
                            <span *ngIf="!isSending">
                                {{ 'OPTIONS' | translate }}
                            </span>
                            <span *ngIf="isSending">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                        </button>
                        <div class="dropdown-pane bottom" id="dropdown-{{ client.company_id }}" data-dropdown data-hover="true" data-hover-pane="true">
                            <ul>
                                <li>
                                    <a *ngIf="client.status && client.locations.length > 0" (click)="openUserModal(client)">{{ 'LOGIN' | translate }} <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a routerLink="/client/details/{{ client.company_id }}">{{ 'VIEW' | translate }} <i class="fa fa-info fa-fw" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a routerLink="/client/dossier/edit/{{ client.company_id }}">{{ 'EDIT' | translate }} <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a *ngIf="client.status" (click)="setCompanyActive(client, false)" class="danger">
                                        {{ 'DEACTIVATE' | translate }} <i class="fa fa-ban fa-fw" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="!client.status" (click)="setCompanyActive(client, true)">
                                        {{ 'ACTIVATE' | translate }} <i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination (pageChange)="page = $event"></pagination>
    </div>
</div>

<!--USER MODAL-->
<div class="reveal-overlay ghost-login-modal" [ngStyle]="{'display': userModalDisplay}">
    <div class="tiny reveal" [ngStyle]="{'display': userModalDisplay}">
        <div class="modal-header">
            {{ 'LOGIN AS' | translate }}
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeUserModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body">
            <table>
                <thead>
                <tr>
                    <td>{{ 'USER' | translate }}</td>
                    <td>{{ 'E-MAIL ADDRESS' | translate }}</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ selectedClient.owner.first_name + ' ' + selectedClient.owner.last_name }}</td>
                        <td>{{ selectedClient.owner.email_address }}</td>
                        <td>
                            <span class="pull-right">
                                <button type="button" (click)="loginAsGhost(selectedClient.owner.person_id)" class="small primary button">
                                    <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                                    {{ 'LOGIN' |  translate}}
                                </button>
                            </span>
                        </td>
                    </tr>
                    <tr *ngFor="let user of selectedClient.users">
                        <td>
                            {{ user.first_name + ' ' + user.last_name }}
                        </td>
                        <td>
                            {{ user.email_address }}
                        </td>
                        <td>
                            <span class="pull-right">
                                <button type="button" (click)="loginAsGhost(user.person_id)" class="small primary button">
                                    <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
                                    {{ 'LOGIN' |  translate}}
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="tiny primary button pull-right" (click)="closeUserModal()">{{ 'CLOSE' | translate}}</button>
        </div>
    </div>
</div>