<table>
    <thead>
    <tr>
        <td> {{ 'UBN' | translate }} </td>
        <td> {{ 'NAME' | translate }} </td>
        <td> {{ 'INSPECTION' | translate }} </td>
        <td> {{ 'REQUEST DATE' | translate }} </td>
        <td> {{ 'NEXT ACTION' | translate }} </td>
        <td> {{ 'LAST ACTION TAKEN BY' | translate }} </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of requests">
        <td>{{ request.ubn }}</td>
        <td>{{ request.last_name }}</td>
        <td>{{ request.inspection | translate }}</td>
        <td>
            <span *ngIf="request.request_date">
                {{ settings.convertToViewDate(request.request_date) }}
            </span>
            <span *ngIf="!request.request_date">
                --
            </span>
        </td>
        <td>{{ request.next_action | translate }}</td>
        <td>{{ request.action_taken_by.first_name + " " + request.action_taken_by.last_name }} ({{ settings.convertToViewDateTime(request.direction_date) }})</td>
    </tr>
    </tbody>
</table>