<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <td>{{ 'DATE' | translate }}</td>
                    <td>{{ 'FILENAME' | translate }}</td>
                    <td>{{ 'FTP SERVER' | translate }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="failedCSVs.length == 0">
                    <td colspan="4" class="text-center">{{ 'THERE ARE NO FAILED IMPORTS' | translate }}</td>
                </tr>
                <tr *ngFor="let csv of failedCSVs">
                    <td>{{ settings.convertToViewDateTime(csv.log_date) }}</td>
                    <td>{{ csv.filename }}</td>
                    <td>{{ csv.servername }}</td>
                    <td>
                        <button type="button" (click)="downloadCSV(csv.url)" class="small primary button pull-right">
                            {{ 'DOWNLOAD' | translate }}
                        </button>
                        <div *ngIf="!inspectionDocument?.name" class="large-6 columns file-picker">
                            <label class="tiny primary button pull-right">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <input type="file" (change)="uploadCSV($event)">
                            </label>
                        </div>
                        <!--<div *ngIf="inspectionDocument?.name" class="large-6 columns">-->
                            <!--<button (click)="openFile()" class="small primary button">-->
                                <!--<i class="fa fa-file-o fa-fw" aria-hidden="true"></i>-->
                            <!--</button>-->
                            <!--<button (click)="removeFile()" class="small alert button">-->
                                <!--<i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>