<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <td>{{ 'DATE' | translate }}</td>
                    <td>{{ 'FILENAME' | translate }}</td>
                    <td>{{ 'FTP SERVER' | translate }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isLoading">
                    <td colspan="10">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="failedImports.length == 0 && !isLoading">
                    <td colspan="4" class="text-center">{{ 'THERE ARE NO FAILED IMPORTS' | translate }}</td>
                </tr>
                <tr *ngFor="let import of failedImports">
                    <td>{{ settings.convertToViewDateTime(import.log_date) }}</td>
                    <td>{{ import.filename }}</td>
                    <td>{{ import.server_name }}</td>
                    <td>
                        <button type="button" (click)="downloadFailedImport(import.url)" class="small primary button pull-right">
                            {{ 'DOWNLOAD' | translate }}
                        </button>
                        <div class="large-6 columns file-picker">
                            <label class="tiny primary button pull-right" [ngClass]="{'disabled': isUploading}">
                                <span *ngIf="!isUploading">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <input type="file" (change)="addImportFile($event, import)">
                                </span>
                                <span *ngIf="isUploading">
                                    <i class="fa fa-cog fa-spin fa-fw"></i>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>