<table>
    <thead>
    <tr>
        <td> {{ 'UBN' | translate }} </td>
        <td> {{ 'NAME' | translate }} </td>
        <td> {{ 'INSPECTION' | translate }} </td>
        <td> {{ 'REQUEST DATE' | translate }} </td>
        <td> {{ 'NEXT ACTION' | translate }} </td>
        <td> {{ 'LAST ACTION TAKEN BY' | translate }} </td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inspection of _expired">
            <td>{{ inspection?.location?.ubn }}</td>
            <td>{{ inspection?.location?.last_name }}</td>
            <td>{{ inspection?.illness_type | translate }}</td>
            <td>
                <span *ngIf="inspection.request_date">
                    {{ settings.convertToViewDate(inspection.request_date) }}
                </span>
                <span *ngIf="!inspection.request_date">
                    --
                </span>
            </td>
            <td>{{ inspection?.next_action | translate }}</td>
            <td>{{ inspection?.action_taken_by?.first_name + " " + inspection?.action_taken_by?.last_name }} ({{ settings.convertToViewDateTime(inspection?.direction_date) }})</td>
        </tr>
    </tbody>
</table>
