<div id="content-management">

    <!--BREADCRUMBS-->
    <div class="row">
        <ul class="breadcrumbs">
            <li><a routerLink="/dashboard">{{ 'DASHBOARD' | translate }}</a></li>
            <li>{{ 'CONTENT MANAGEMENT' | translate }}</li>
        </ul>
    </div>

    <!--PAGE CONTENT-->
    <div class="row">
        <div class="page-header">
            <div class="page-title">{{ 'CONTENT MANAGEMENT' | translate }}</div>
        </div>

        <div [formGroup]="form" class="form-container">
            <div class="row">
                <div class="large-3 columns">
                    <label> {{ 'DASHBOARD' | translate }} </label>
                </div>
                <div class="large-4 columns end">
                    <textarea formControlName="dashboard" maxlength="250" rows="6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label> {{ 'CONTACT INFORMATION' | translate }} </label>
                </div>
                <div class="large-4 columns end">
                    <textarea formControlName="contact_information" maxlength="250" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">&nbsp;</div>
            <div class="large-4 columns end">
                <button type="button" (click)="save()" class="small primary button pull-right">{{ 'SAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>