select
  padding-top: 0
  padding-bottom: 0

input:disabled:hover,
select:disabled:hover,
button:disabled:hover,
textarea:disabled:hover
  cursor: default

.content-container
  padding: 5em 2em 0 2em
  font-family: $lato


.input-error-border
  border-color: $nsfo-red

.page-header
  .page-title
    display: inline-block
    color: rgba(72, 167, 112, 0.5)
    padding-bottom: 0.8em
    font-size: 2em
    font-weight: 900


.tabs-title
  a.active
    background-color: #E6E6E6