#client
  .page-header
    .page-title
      display: inline-block
      color: rgba(72, 167, 112, 0.5)
      font-size: 2em
      font-weight: 900

  .table-options-container
    padding: 1em 0

    label
      font-weight: 700
      font-size: 0.8em

      &.category
        font-weight: 900


      input
        font-weight: 400
        font-size: 1em

      select
        font-weight: 400
        font-size: 1em

      button
        font-weight: 400
        font-size: 1em

  .client-info
    input, select
      font-size: 0.85em

    label
      font-weight: 400
      font-size: 0.8em

      &.category
        font-weight: 900
        text-transform: uppercase
        margin-bottom: 0.4em
        margin-top: 0.4em

        textarea
          font-size: 1em
          font-weight: 400

    table
      td
        a
          font-size: 1.5em

          &.remove-button
            color: #EC5840

            &:hover
              color: #a3422d

    .file-picker
      padding-top: 0.5em
      padding-bottom: 0.5em

      a
        color: #EC5840

        &:hover
          color: #a3422d

      input
        margin-bottom: 0

  table
    font-size: 0.8em

    .label
      padding: 0.6em
      font-weight: 900
      font-size: 0.95em
      border-radius: 5px

      i
        font-size: 0.95em


    button
      margin: 0
      padding: 0.6em
      font-weight: 700
      font-size: 0.95em

    .dropdown-pane
      padding: 0.5em
      width: 150px

      ul
        list-style: none
        text-align: right
        font-size: 0.85em
        margin: 0

        li
          a
            display: block
            color: #2c2c2c
            width: 100%

            &:hover
              background-color: $nsfo-green
              color: #FFF

            &.danger:hover
              color: red
              font-weight: 700

          i
            margin-left: 0.5em
