#config
  label
    font-size: 0.75rem
    font-weight: 700

  table
    font-size: 0.7rem

    button
      font-size: 1em
      margin-bottom: 0

    td
      a
        font-size: 1.25em

        &.remove-button
          color: $nsfo-red

        &:hover
          color: #a3422d

  .reveal
    font-size: 0.7rem

    .modal-header
      background-color: $nsfo-green
      padding: 0.5em
      color: #FFF
      font-size: 1.3em

      button
        padding-top: 0.2em

    .modal-body
      padding-top: 2em
      padding-bottom: 2em

      label
        font-size: 1em

      input, select
        font-size: 1em

    .file-picker
      input[type='file']
        display: none

    .modal-footer
      button
        margin-bottom: 0

      .required-description
        font-size: 0.85em
        margin-top: -1em
        padding-bottom: 2em

  #admins
    .overview-controls
      a
        margin-left: 0.4em
        font-size: 0.95rem

      .fa-pencil-square-o
        margin-top: 0.5em
        margin-left: 0.4em

  #health-letters
    ul.menu
      padding-top: 2em
      text-align: center

      li.menu-title
        font-size: 0.8rem
        padding-bottom: 0.5em

      li
        font-size: 0.7rem

        a
          transition: 0.2s ease-in

          &:hover
            background-color: rgba(72, 167, 112, 0.5)

          &.active
            background-color: rgba(72, 167, 112, 0.5)

    .sub-page-header
      font-size: 0.7rem
      padding-top: 1.8em
      padding-bottom: 1.8em

      .sub-page-title
        font-weight: 600
        font-size: 0.75rem

      .editor
        padding-right: 1.5em