// TOP NAVIGATION BAR

nav
  position: fixed
  display: flex
  width: 100%
  background-color: $nsfo-green
  align-items: center
  font-family: $lato !important
  z-index: 10000


  // SUBTITLE

  .subtitle
    margin-top: -0.4em
    padding-left: 0.4em
    color: #EADD69
    font-size: 0.7em
    font-weight: 900


  // TOGGLE BUTTONS

  button
    background-color: transparent
    color: #FFF
    border: none
    height: 100%

    &.active
      background-color: $nsfo-dark-green

    &:hover
      background-color: $nsfo-dark-green

    &:focus
      outline: none


    // SIDEBAR TOGGLE BUTTON

    &.menu-toggle
      font-size: 1.8em
      padding: 0.4rem 0.5em


    // PROFILE TOGGLE BUTTON

    &.profile-toggle
      font-size: 1.2em
      padding: 0.7rem 0.5em

      span
        margin-left: 0.3em
        font-family: $lato
        font-size: 0.65em

    // DOWNLOAD TOGGLE BUTTON

    &.download-toggle
      font-size: 1.2em
      padding: 0.7rem 0.5em

      i
        position: relative
        padding: 0 0.3em

        span
          position: absolute
          background-color: #FF0000
          border-radius: 50%
          padding: 0.2em 0.4em
          //height: 1.5em
          //width: 1.5em
          right: -0.1em
          top: -0.4em
          font-size: 0.75rem
          font-weight: 900
          font-family: $lato !important

  // BRAND NAME

  .brand-name
    padding-left: 0.4em
    color: #FFF
    font-size: 1.2em
    font-weight: 900

    span
      font-weight: 400

    &:hover
      cursor: pointer


  // EMPTY CONTAINER - NAVIGATION BAR FILLER

  .empty-block
    flex: 1


// SIDE MENU

.side-menu
  height: 100%
  width: 250px
  position: fixed
  z-index: 9999
  left: -250px
  background-color: rgba(0, 0, 0, 0.85)
  overflow-x: hidden
  padding-top: 4em
  transition: 0.5s
  font-family: $lato

  &.enabled
    left: 0

  ul
    padding: 1em 0 1em 0.2em

    li
      list-style: none
      font-size: 1em

      a
        display: block
        color: #FFF
        padding: 0.4em 0 0.4em 0.4em
        width: 100%
        transition: 0.5s

        &:hover
          background-color: $nsfo-green

        &.active
          background-color: $nsfo-green


// USER MENU

.user-menu
  position: fixed
  background-color: rgba(0, 0, 0, 0.85)
  right: 0
  top: -200px
  transition: 0.5s
  z-index: 9999
  text-align: right
  border-bottom: 4px solid #57CD8A
  padding-top: 0.5em
  padding-bottom: 0.5em

  &.enabled
    top: 40px

  a
    padding: 0.5em 0.5em 0.5em 2em
    display: block
    color: #FFF
    font-size: 0.85em
    width: 100%

    i
      font-size: 0.9em
      margin-left: 0.4em

    &:hover
      background-color: $nsfo-green

