<div id="profile">

    <!--BREADCRUMBS-->
    <div class="row">
        <ul class="breadcrumbs">
            <li><a routerLink="/dashboard">{{ 'DASHBOARD' | translate }}</a></li>
            <li>{{ 'PROFILE' | translate }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="page-header">
            <div class="page-title">{{ 'PROFILE' | translate }}</div>
        </div>
    </div>

    <!--PAGE CONTENT-->
    <div class="row form-container">
        <div [formGroup]="form" class="large-4 end">

            <div class="row">
                <div class="large-6 columns">
                    <label class="middle">{{ 'FIRST NAME' | translate }} * </label>
                </div>
                <div class="large-6 columns">
                    <input type="text" formControlName="first_name">
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label class="middle">{{ 'LAST NAME' | translate }} * </label>
                </div>
                <div class="large-6 columns">
                    <input type="text" formControlName="last_name">
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label class="middle">{{ 'E-MAIL ADDRESS' | translate }} * </label>
                </div>
                <div class="large-6 columns">
                    <input type="text" formControlName="email_address">
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label class="middle">{{ 'CHANGE PASSWORD' | translate }}</label>
                </div>
                <div class="large-6 columns">
                    <input type="password" formControlName="password">
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label class="middle">{{ 'REPEAT PASSWORD' | translate }}</label>
                </div>
                <div class="large-6 columns">
                    <input type="password" formControlName="repeat_password">
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    &nbsp;
                </div>
                <div class="large-6 columns">
                    <button type="button" (click)="saveProfile()" class="small primary button expanded"> {{ 'SAVE' | translate }}</button>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <span class="pull-right required-description"> * {{ 'IS A REQUIRED FIELD' | translate }} </span>
                </div>
            </div>
        </div>
    </div>
</div>