<div id="health">

    <!--BREADCRUMBS-->
    <div class="row">
        <ul class="breadcrumbs">
            <li><a routerLink="/dashboard">{{ 'DASHBOARD' | translate }}</a></li>
            <li>{{ 'ANIMAL HEALTH' | translate }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="page-header">
            <div class="page-title">{{ 'ANIMAL HEALTH' | translate }}</div>
        </div>
    </div>

    <!--TABS MEDIUM/LARGE SCREENS-->
    <div class="row">
        <select
                [(ngModel)]="selectedIllness"
                title="illness"
                (click)="goToSelectedIllness()"
        >
            <option
                    *ngFor="let illness of getIllnesses()"
                    [value]="illness"
            >{{ illness | translate }}</option>
        </select>
    </div>

    <router-outlet></router-outlet>

</div>