<div id="calculations">

    <!--BREADCRUMBS-->
    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li class="disabled">{{ 'NSFO ONLINE' | translate }}</li>
                <li>{{ 'CALCULATIONS' | translate }}</li>
            </ul>
        </div>
    </div>

    <!--CARDS-->
    <div class="row">

        <!--STAR EWES CARD-->
        <div class="large-4 columns">
            <div class="card callout">
                <div class="card-header">{{ 'STAR EWES' | translate }}</div>
                <div class="card-body">
                    <label>{{ 'CALCULATE STAR EWES INFO' | translate }}</label>
                </div>
                <div class="card-footer text-center">
                    <button (click)="calculateStarEwes()" class="tiny button">{{ 'CALCULATE STAR EWES' | translate }}</button>
                </div>
            </div>
        </div>

        <!--INBREEDING COEFFICIENT CALCULATION CARD-->
        <div class="large-4 columns">
            <div class="card callout">
                <div class="card-header">{{ 'INBREEDING COEFFICIENT' | translate }}</div>
                <div class="card-body">
                    <label>{{ 'CALCULATE INBREEDING COEFFICIENT INFO' | translate }}</label>
                </div>
                <div class="card-footer text-center">
                    <button (click)="calculateInbreedingCoefficient()" class="tiny button">{{ 'CALCULATE INBREEDING COEFFICIENT' | translate }}</button>
                </div>
            </div>
        </div>

        <!--INBREEDING COEFFICIENT RECALCULATION CARD-->
        <div class="large-4 columns">
            <div class="card callout">
                <div class="card-header">{{ 'INBREEDING COEFFICIENT' | translate }}</div>
                <div class="card-body">
                    <label>{{ 'RECALCULATE INBREEDING COEFFICIENT INFO' | translate }}</label>
                </div>
                <div class="card-footer text-center">
                    <button (click)="recalculateInbreedingCoefficient()" class="tiny button">{{ 'RECALCULATE INBREEDING COEFFICIENT' | translate }}</button>
                </div>
            </div>
        </div>

    </div>
</div>
