<div id="invoices">
    <div class="row">
        <div class="large-2 columns">
            <ul class="menu vertical">
                <li class="menu-title">{{ 'CONFIGURATIONS' | translate }}</li>
                <li>
                    <a routerLink="/configuration/invoices/invoices_rules" routerLinkActive="active">{{ 'INVOICES RULES' | translate }}</a>
                </li>
                <li>
                    <a routerLink="/configuration/invoices/invoices_details" routerLinkActive="active">{{ 'NSFO INVOICES DETAILS' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="large-10 columns">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>