<div id="admins">
    <div class="row">
        <div class="large-12 columns">
            <table class="stacked">
                <thead>
                    <tr>
                        <td>{{ 'E-MAIL ADDRESS' | translate}}</td>
                        <td>{{ 'FIRST NAME' | translate}}</td>
                        <td>{{ 'LAST NAME' | translate}}</td>
                        <td>{{ 'LAST LOGIN DATE' | translate}}</td>
                        <td>
                            <button type="button" (click)="openModal(false)" class="small primary button pull-right">
                                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                                {{ 'INVITE THIRD PARTY USER' | translate }}
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vwaEmployee of vwaEmployees">
                        <td>{{ vwaEmployee.email_address }}</td>
                        <td>{{ vwaEmployee.first_name }}</td>
                        <td>{{ vwaEmployee.last_name }}</td>
                        <td>{{ vwaEmployee.last_login_date ? (vwaEmployee.last_login_date | date: 'dd-MM-yyyy @ HH:mm:ss') : 'NO LOGIN YET' | translate }}</td>
                        <td>
                            <span class="pull-right overview-controls">
                                <a (click)="openModal(true, vwaEmployee)"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i></a>
                                <a (click)="openRemoveModal(vwaEmployee)" class="remove-button"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--ADD REASON MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': displayModal}">
    <div class="tiny reveal" [ngStyle]="{'display': displayModal}">
        <div class="modal-header">
            <span *ngIf="!isModalEditMode">{{ 'NEW THIRD PARTY USER' | translate }}</span>
            <span *ngIf="isModalEditMode">{{ 'EDIT THIRD PARTY USER' | translate }}</span>
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div [formGroup]="form" class="modal-body">
            <div class="row">
                <div class="large-4 columns">
                    <label class="middle"> {{ 'E-MAIL ADDRESS' | translate }} * </label>
                </div>
                <div class="large-8 columns">
                    <input type="text" [(ngModel)]="vwaEmployee.email_address" formControlName="email_address" maxlength="50" (keydown)="resetValidation()">
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label class="middle"> {{ 'FIRST NAME' | translate }} * </label>
                </div>
                <div class="large-8 columns">
                    <input type="text" [(ngModel)]="vwaEmployee.first_name" formControlName="first_name" maxlength="50" (keydown)="resetValidation()">
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label class="middle"> {{ 'LAST NAME' | translate }} * </label>
                </div>
                <div class="large-8 columns">
                    <input type="text" [(ngModel)]="vwaEmployee.last_name" formControlName="last_name" maxlength="50" (keydown)="resetValidation()">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="large-12 columns">
                    <span class="pull-right required-description"> * {{ 'IS A REQUIRED FIELD' | translate }} </span>
                </div>
            </div>
            <span class="pull-left">
                <label *ngIf="!hasUniqueEmails" class="input-error-msg">{{ 'E-MAIL ADDRESS IS NOT UNIQUE' | translate }}</label>
                <label *ngIf="!isValidForm" class="input-error-msg">{{ 'FILL IN ALL THE REQUIRED FIELDS' | translate }}</label>
                <label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>
            </span>
            <span class="pull-right">
                <button *ngIf="!isModalEditMode" [disabled]="isSaving" (click)="addVwaEmployee()" class="tiny primary button">
                    <span *ngIf="!isSaving">
                        {{ 'ADD' | translate}}
                    </span>
                    <span *ngIf="isSaving">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button *ngIf="isModalEditMode" [disabled]="isSaving" (click)="editVwaEmployee()" class="tiny primary button">
                    <span *ngIf="!isSaving">
                        {{ 'EDIT' | translate}}
                    </span>
                    <span *ngIf="isSaving">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button (click)="closeModal()" [disabled]="isSaving" class="tiny alert button">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>

<!--REMOVE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': displayRemoveModal}">
    <div class="tiny reveal" [ngStyle]="{'display': displayRemoveModal}">
        <div class="modal-header">
            {{ 'REMOVE THIRD PARTY USER' | translate }}
            <button type="button" (click)="closeRemoveModal()" class="pull-right" aria-label="Close modal">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REMOVE THIS THIRD PARTY USER' | translate }} </div>
        <div class="modal-footer">
            <span class="pull-left">
                <label *ngIf="errorMessage" class="input-error-msg">{{ errorMessage | translate }}</label>
            </span>
            <span class="pull-right">
            <button class="tiny alert button" [disabled]="isSaving" (click)="removeVwaEmployee()">
                <span *ngIf="!isSaving">
                    {{ 'REMOVE' | translate}}
                </span>
                <span *ngIf="isSaving">
                    <i class="fa fa-gear fa-spin fa-fw"></i>
                </span>
            </button>
            <button class="tiny primary button" [disabled]="isSaving" (click)="closeRemoveModal()">{{ 'CANCEL' | translate}}</button>
            </span>
        </div>
    </div>
</div>