<table>
    <thead>
        <tr>
            <td> {{ 'UBN' | translate }} </td>
            <td> {{ 'NAME' | translate }} </td>
            <td> {{ 'INSPECTION' | translate }} </td>
            <td> {{ 'REQUEST DATE' | translate }} </td>
            <td> {{ 'NEXT ACTION' | translate }} </td>
            <td>
                <button type="button" *ngIf="requests.length > 0" (click)="getAllDocuments()" class="tiny primary button pull-right">
                    <span *ngIf="requests.length > 0" class="badge"> {{ requests.length }} </span>
                    {{ 'DOWNLOAD' | translate }}
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.ubn }}</td>
            <td>{{ request.last_name }}</td>
            <td>{{ request.inspection | translate }}</td>
            <td>
                <span *ngIf="request.request_date">
                    {{ settings.convertToViewDate(request.request_date) }}
                </span>
                <span *ngIf="!request.request_date">
                    --
                </span>
            </td>
            <td>{{ request.next_action | translate }}</td>
            <td>
                <span class="pull-right">
                    <button type="button" (click)="changeStatus(request, $event); getDocument(request)" class="small primary button">
                        {{ 'ANNOUNCE' | translate }}
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>