<div class="page-header">
    <div class="page-title">{{ 'INVOICE OVERVIEW' | translate }}</div>
</div>

<div class="row table-options-container">
    <div class="large-2 columns">
        <label>
            {{ 'INVOICES' | translate }}
            <select [(ngModel)]="status" (change)="page = 1">
                <option value="ALL">{{ 'ALL' | translate }}</option>
                <option value="NOT SEND INVOICES">{{'NOT SEND INVOICES' | translate}}</option>
                <option value="UNPAID INVOICES">{{ 'UNPAID INVOICES' | translate }}</option>
                <option value="PAID INVOICES">{{'PAID INVOICES' | translate}}</option>
                <option value="INCOMPLETE INVOICES">{{'INCOMPLETE INVOICES' | translate}}</option>
                <option value="CANCELLED INVOICES">{{'CANCELLED INVOICES' | translate}}</option>
            </select>
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            {{ 'SEARCH' | translate }}
            <input type="text" [(ngModel)]="filterSearch" (keydown)="page = 1" placeholder="{{ 'SEARCH' | translate }}" maxlength="50">
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            {{ 'DISPLAY AMOUNT' | translate }}
            <select [(ngModel)]="filterAmount" (change)="page = 1">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </label>
    </div>
    <div class="large-2 columns">
        <label>
            &nbsp;
            <button (click)="navigateTo('/invoice/details/new')" class="medium primary button expanded">
                <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                {{ 'NEW INVOICE' | translate }}
            </button>
        </label>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table class="stack invoice-overview">
            <thead>
                <tr>
                    <td>{{ 'INVOICE NUMBER' | translate }}</td>
                    <td>{{ 'DEBTOR NUMBER' | translate }}</td>
                    <td>{{ 'UBN' | translate }}</td>
                    <td>{{ 'NAME' | translate }}</td>
                    <td>{{ 'INVOICE DATE' | translate }}</td>
                    <td>{{ 'STATUS' | translate }}</td>
                    <td>{{ 'REMINDER(S)' | translate }}</td>
                    <td></td>
                    <td>{{ 'ACTIONS' | translate}}</td>
                </tr>
            </thead>
            <tbody>
            <tr *ngIf="!isLoaded">
                <td colspan="10">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
                <tr *ngFor="let invoice of invoices | invoiceFilter:[filterSearch, status] | paginate: {itemsPerPage: filterAmount, currentPage: page}">
                    <td>
                        <span *ngIf="invoice.invoice_number">
                            {{ invoice.invoice_number }}
                        </span>
                        <span *ngIf="!invoice.invoice_number">
                            --
                        </span>
                    </td>
                    <td>
                        <span *ngIf="invoice.company_debtor_number">
                            {{ invoice.company_debtor_number }}
                        </span>
                        <span *ngIf="!invoice.company_debtor_number">
                            --
                        </span>
                    </td>
                    <td>
                        <span *ngIf="invoice.ubn">
                            {{invoice.ubn}}
                        </span>
                        <span *ngIf="!invoice.ubn">
                            --
                        </span>
                    </td>
                    <td>
                        <span *ngIf="invoice.company_name">
                            {{ invoice.company_name }}
                        </span>
                        <span *ngIf="!invoice.company_name">
                            --
                        </span>
                    </td>
                    <td>
                        <span class="primary label" *ngIf="invoice.invoice_date">
                            {{ settings.convertToViewDate(invoice.invoice_date) }}
                        </span>
                        <span *ngIf="!invoice.invoice_date" class="warning label">
                            {{ 'NOT SEND' | translate }}
                        </span>
                    </td>
                    <td>
                        <span class="primary label" *ngIf="invoice.status == 'NOT SEND'">
                            {{'NOT SEND' | translate }}
                        </span>
                        <span *ngIf="invoice.status == 'UNPAID'" class="alert label">
                            {{ 'UNPAID' | translate }} ({{ calculateDays(invoice.invoice_date)}} {{ 'DAYS' | translate }})
                        </span>
                        <span *ngIf="invoice.status == 'PAID'" class="success label">
                            {{ 'PAID' | translate }}: {{invoice.paid_date | date : "dd-MM-yyyy"}}
                        </span>
                        <span *ngIf="invoice.status == 'INCOMPLETE'" class="primary label">
                            {{'INCOMPLETE' | translate}}
                        </span>
                        <span *ngIf="invoice.status == 'CANCELLED'" class="alert label">
                            {{ 'CANCELLED' | translate }} ({{ calculateDays(invoice.invoice_date)}} {{ 'DAYS' | translate }})
                        </span>
                    </td>
                    <td>
                        <span *ngIf="invoice.reminders > 0" class="alert label">
                            {{ invoice.reminders }} {{ 'REMINDER(S)' | translate }}
                        </span>
                        <span *ngIf="!invoice.reminders > 0" class="alert label">
                            --
                        </span>
                    </td>
                    <td>

                    </td>
                    <td>
                        <button type="button" (click)="navigateTo('/invoice/details/edit/' + invoice.id)" [disabled]="invoice.status != 'NOT SEND' && invoice.status != 'INCOMPLETE'" class="tiny primary button">
                            {{ 'EDIT' | translate }}
                        </button>
                        <button type="button" (click)="navigateTo('/invoice/details/view/' + invoice.id)" class="small primary button">
                            {{ 'VIEW' | translate }}
                        </button>
                        <button [disabled]="invoice.status != 'UNPAID'" (click)="openModal(invoice)" class="tiny primary button">
                            {{ "IS_PAID" | translate }}
                        <button type="button" (click)="downloadPdf(invoice)" class="small primary button">
                            {{ "DOWNLOAD PDF" | translate }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination (pageChange)="page = $event"></pagination>
    </div>
</div>

<div class="reveal-overlay" [ngStyle]="{'display': displayModal}">
    <div class="medium reveal" [ngStyle]="{'display': displayModal}">
        <div class="modal-body">

            <hr>

            <span style="text-align: center; width: 100%; display: block; margin: 25px 0 50px 0;">
                {{ "ARE YOU SURE YOU WANT TO SET THIS INVOICE TO PAID" | translate }}
            </span>

            <span class="pull-left" style="width: 45%">
                <button (click)="setInvoicePaid(selectedInvoiceId)" class="small primary button expanded">
                    {{ "YES" | translate }}
                </button>
            </span>
            <span style="width: 10%;">

            </span>
            <span class="pull-right" style="width: 45%;">
                <button (click)="closeModal()" class="small primary button expanded">
                    {{ "NO" | translate }}
                </button>
            </span>

        </div>
        <div class="modal-footer">

            <hr>

        </div>
    </div>
</div>