<div class="page-header">
    <div class="page-title">{{ 'ERROR LOG' | translate }}</div>
</div>


<div class="row table-options-container">

<ng-template *ngIf="isDataLoaded()">

    <!-- DATE FILTER -->
    <div class="row table-options-container">

        <div class="large-2 medium-12 columns">
            <h5>{{ 'FILTERS' | translate }}</h5>
        </div>

        <div class="large-2 medium-3 columns">
            <label>{{ 'LOG DATE' | translate }} {{ 'START' | translate }}
                <input
                        [(ngModel)]="filterLogDateStart"
                        type="text"
                        #startDateField (keyup)="0"
                        id="filter_log_date_start"
                        placeholder="{{ 'VIEW_DATE_FORMAT' | translate }}"
                >
            </label>
        </div>

        <div class="large-2 medium-3 columns">
            <label>{{ 'LOG DATE' | translate }} {{ 'END' | translate }}
                <input
                        [(ngModel)]="filterLogDateEnd"
                        type="text"
                        #startDateField (keyup)="0"
                        id="filter_log_date_end"
                        placeholder="{{ 'VIEW_DATE_FORMAT' | translate }}"
                >
            </label>
        </div>

        <div class="large-2 medium-3 columns">
            <label>{{ 'EVENT DATE' | translate }} {{ 'START' | translate }}
                <input
                        [(ngModel)]="filterEventDateStart"
                        type="text"
                        #startDateField (keyup)="0"
                        id="filter_log_event_start"
                        placeholder="{{ 'VIEW_DATE_FORMAT' | translate }}"
                >
            </label>
        </div>

        <div class="large-2 medium-3 columns">
            <label>{{ 'EVENT DATE' | translate }} {{ 'END' | translate }}
                <input
                        [(ngModel)]="filterEventDateEnd"
                        type="text"
                        #startDateField (keyup)="0"
                        id="filter_log_event_end"
                        placeholder="{{ 'VIEW_DATE_FORMAT' | translate }}"
                >
            </label>
        </div>

        <div class="large-2 columns end">
            <label>
                {{'HIDDEN' | translate | lowercase}} <i class="fa fa-info-circle" aria-hidden="true" title="{{ 'ERROR MESSAGE IS HIDDEN FOR ADMINS' | translate }}"></i>
                <select [(ngModel)]="filterIsHiddenForAdmin" (change)="page = 1">
                    <option *ngFor="let option of filterIsHiddenForAdminOptions" [value]="option">
                        {{getBoolDrowDownText(option) | translate}}
                    </option>
                </select>
            </label>
        </div>

    </div>

    <hr style="margin-top: 0">

    <!-- NON-DATE FILTER -->
    <div class="row table-options-container"  style="margin: 1rem auto 1rem auto">

        <div class="large-3 columns">
            <label>
                {{ 'SEARCH' | translate }} <i class="fa fa-info-circle" aria-hidden="true" title="{{ 'ERROR LOG SEARCH INFO' | translate}}"></i>
                <input type="text" [(ngModel)]="filterSearch" (keydown)="page = 1" placeholder="{{ 'SEARCH' | translate }}" maxlength="50">
            </label>
        </div>

        <div class="large-2 columns">
            <label>
                {{'DECLARE TYPE' | translate | lowercase}}
                <select [(ngModel)]="filterType" (change)="page = 1">
                    <option *ngFor="let actionByTypes of getDeclareTypes()" [value]="actionByTypes">{{actionByTypes == undefined ? ('ALL'|translate) : actionByTypes}}</option>
                </select>
            </label>
        </div>

        <!-- DISABLED BECAUSE PAGINATION IS A BIT BROKEN -->
        <!--<div class="large-1 columns">-->
            <!--<label>-->
                <!--{{ 'PER PAGE' | translate }}-->
                <!--<select [(ngModel)]="filterAmount" (change)="page = 1">-->
                    <!--<option *ngFor="let option of filterAmountOptions" [value]="option">{{option}}</option>-->
                <!--</select>-->
            <!--</label>-->
        <!--</div>-->

        <div class="large-2 columns">
            <label>
                {{ 'UBN' | translate }}
                <input type="text" [(ngModel)]="filterUbn" (keydown)="page = 1" placeholder="{{ 'UBN' | translate }}" maxlength="15">
            </label>
        </div>

        <div class="large-2 columns">
            <label>
                {{ 'RELATED' | translate }} {{ 'UBN' | translate }}
                <input type="text" [(ngModel)]="filterRelatedUbn" (keydown)="page = 1" placeholder="{{ 'RELATED' | translate }} {{ 'UBN' | translate }}" maxlength="15">
            </label>
        </div>

        <div class="large-2 columns">
            <label>
                {{ 'ACTION BY TYPE' | translate }}
                <select [(ngModel)]="filterActionByType" (change)="page = 1">
                    <option value="ALL">{{ 'ALL' | translate }}</option>
                    <option *ngFor="let typeOption of getActionByTypeOptions()" value="{{typeOption}}">{{ typeOption |
                        translate }}</option>
                </select>
            </label>
        </div>

        <ng-template *ngIf="errors && errors.length > 0">
            <div class="large-1 columns end">
                <button
                    *ngIf="!isUpdatingHiddenStatus"
                    class="button alert"
                    title="{{'HIDE ALL FILTERED ERRORS IN THE CURRENT LIST INCLUDING THOSE ON OTHER PAGES' | translate}}"
                    (click)="openModal()"
                >
                    {{'HIDE ALL' | translate}}
                </button>

                <button
                    *ngIf="isUpdatingHiddenStatus"
                    class="button  disabled"
                    [disabled]="true"
                >
                    <span><i class="fa fa-gear fa-spin fa-fw"></i> </span>
                </button>
            </div>
        </ng-template>

    </div>

</ng-template>

<!-- Full width table -->
<div class="row" style="width: 100%; margin-left: auto; margin-right: auto; max-width: initial;">
    <div class="large-12 columns">
        <table class="stack client-overview">
            <thead>
            <tr>
                <td>{{ 'LOG DATE' | translate }}
                    <app-sort-switch
                            [pointsUp]="isLogDateSortAscending"
                            [neutral]="isLogDateSortNeutral"
                            (sortSwitchToggled)="onSortByLogDateToggle(); page = 1">
                    </app-sort-switch>
                </td>
                <td>{{ 'EVENT DATE' | translate }}
                    <app-sort-switch
                            [pointsUp]="isEventDateSortAscending"
                            [neutral]="isEventDateSortNeutral"
                            (sortSwitchToggled)="onSortByEventDateToggle(); page = 1">
                    </app-sort-switch>
                </td>
                <td>{{ 'DECLARE TYPE' | translate }}</td>
                <td>{{ 'UBN' | translate }}</td>
                <td>{{ 'RELATED' | translate }} {{ 'UBN' | translate }}</td>
                <td>{{ 'ACTION BY' | translate }}</td>
                <td>{{ 'ACTION BY TYPE' | translate }}</td>
                <td>{{ 'DESCRIPTION' | translate }}</td>
                <td title="{{ 'ERROR MESSAGE IS HIDDEN FOR ADMINS' | translate }}">{{'HIDDEN' | translate | lowercase}}<i class="fa fa-info-circle" aria-hidden="true" title="{{ 'ERROR MESSAGE IS HIDDEN FOR ADMINS' | translate }}"></i>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!isErrorsLoaded">
                <td colspan="10">
                    <p class="text-center">{{'LOGS ARE BEING RETRIEVED'|translate}}</p>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </td>
            </tr>
            <ng-container *ngIf="isErrorsLoaded && errors.length > 0">
                <tr *ngFor="let error of errors | errorLogFilter:getFilterOptions() | paginate: {itemsPerPage: filterAmount, currentPage: page}; let i = index">
                    <td>
                        {{ error.log_date | date: 'dd-MM-yyyy @HH:mm:ss' }}
                    </td>
                    <td>
                        {{ error.event_date | date: 'dd-MM-yyyy @HH:mm:ss' }}
                    </td>
                    <td>
                        {{ error.dutch_type }}
                    </td>
                    <td>
                        {{ error.ubn }}
                    </td>
                    <td>
                        {{ error.related_ubn }}
                    </td>
                    <td>
                        {{ error.action_by }}
                    </td>
                    <td>
                        {{ error.action_by_type | translate }}
                    </td>
                    <td>
                        {{ error.declare_info }}
                    </td>
                    <td>
                        <app-check-mark [boolVal]="error.hide_for_admin"></app-check-mark>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>

        <pagination (pageChange)="page = $event"></pagination>
    </div>
</div>

</div>

<!--HIDE ALL WARNING MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': modalDisplay}">
    <div class="tiny reveal" [ngStyle]="{'display': modalDisplay}">
        <div class="modal-header" *ngIf="toHideCount > 0">
            {{ 'CONFIRMATION NOTIFICATION' | translate }}
            <button type="button" class="pull-right" aria-label="Close modal" (click)="closeModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <ng-template *ngIf="toHideCount > 0">
            <div class="modal-body">
                <hr>
                <div class="row">
                    {{ 'SELECTED ERROR MESSAGES COUNT' | translate}}: {{toHideCount}}
                </div>
                <div class="row">
                    {{ 'HIDE ALL FILTERED ERRORS IN THE CURRENT LIST INCLUDING THOSE ON OTHER PAGES' | translate }}?
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <button class="tiny primary button pull-left" (click)="hideShownErrorsForAdmin()">{{ 'OK' | translate}}</button>
                <button class="tiny alert button pull-right" (click)="closeModal()">{{ 'NO' | translate}}</button>
            </div>
        </ng-template>

        <ng-template *ngIf="toHideCount === 0">
            <div class="modal-body">
                {{ 'NO ERROR MESSAGES SELECTED' | translate}}
            </div>
            <div class="modal-footer">
                <button class="tiny alert button pull-right" (click)="closeModal()">{{ 'CLOSE' | translate}}</button>
            </div>
        </ng-template>

    </div>
</div>