@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900)


// Fonts

$lato: 'Lato', sans-serif


// Colors

$nsfo-green: #48A770
$nsfo-dark-green: #155932
$nsfo-red: #EC5840
$nsfo-gray: #E1E1E1


// Modules General

@import 'components/_globals'
@import 'components/nav'


// Modules Pages

@import 'components/dashboard'
@import 'components/client'
@import 'components/contentmanagement'
@import 'components/config'
@import 'components/profile'
@import 'components/health'
@import 'components/invoice'


// Modules Directives

@import 'directives/datepicker'