//@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900)


// Fonts

$lato: 'Lato', sans-serif


// Colors

$nsfo-green: #48A770
$nsfo-dark-green: #155932
$nsfo-red: #EC5840
$nsfo-gray: #E1E1E1

$dirty-input-color: #E7FFE7
$invalid-input-color: linen

$table-font-size: 0.7rem

// Modules General

@import 'components/_globals'
@import 'components/nav'

// Modules Pages

@import 'components/animals'
@import 'components/login'
@import 'components/dashboard'
@import 'components/client'
@import 'components/contentmanagement'
@import 'components/config'
@import 'components/errorlog'
@import 'components/profile'
@import 'components/health'
@import 'components/invoice'
@import 'components/loader'
@import 'components/location-health'


// Modules Directives

@import 'directives/checkmark'
@import 'directives/collar-input'
@import 'directives/datepicker'
@import 'directives/download-modal'
@import 'directives/file-type-selector'
@import 'directives/livestock'
@import 'directives/pedigree-register-input'
@import 'directives/parent-selector'
@import 'directives/uln-and-stn-input'